<header class="content__title">
  <h1>{{ pageTitle }}</h1>
  <small>{{ widgetSubTitle }}</small>
</header>

<div class="card">
  <div class="toolbar toolbar--inner">
    <div class="toolbar__label">Secretary List</div>

    <div class="actions">
        <i class="actions__item zmdi zmdi-search" (click)="todoSearch = true"></i>
        <a [routerLink]="" class="actions__item zmdi zmdi-refresh" (click)="getSecretary()" tooltip="Refresh list"></a>
        <a [routerLink]="" class="actions__item zmdi zmdi-plus" (click)="addSecretary()" tooltip="Add new secretary"></a>
    </div>

    <div class="toolbar__search" *ngIf="todoSearch">
        <input type="text" placeholder="Search..." [(ngModel)]="searchKey"> 
        <i class="toolbar__search__close zmdi zmdi-long-arrow-left" (click)="todoSearch = false;searchKey='';getSecretary()" tooltip="Close search box"></i>
        <i class="toolbar__search__search zmdi zmdi-search" (click)="getSecretary()" tooltip="Search"></i>

    </div>
    
  </div>
  <div class="card-body">
    <div class="table-responsive ">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Fullname</th>
            <th>Branch</th>
            <th>Is Active</th>
            <th>Date Created</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of secretary_list" class="hover-edit" (click)="editSecretary(data)">
            <td>{{data.fullname}}</td>
            <td>{{data.branch_name}}</td>
            <td>
              <i class="zmdi zmdi-check c-success" *ngIf="data.is_active"></i>
              <i class="zmdi zmdi-close c-danger" *ngIf="!data.is_active"></i>
            </td>
            <td>
              {{data.created_by}} <br>
              {{data.date_created}}
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <pagination (pageChanged)="pageChange($event)"
                class="justify-content-center"
                [totalItems]="total"
                [maxSize]="10"
                [itemsPerPage]="rows" >
              </pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>


<div class="modal fade" bsModal #modalSecretary="bs-modal" [config]="{ backdrop: 'static' }" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5>{{mode == 'add' ? 'Add Secretary' : 'Edit Secretary'}}</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="form-group">
              <label>Branch<span style="color:red">*</span></label>
              <ng-select
                [items]="branch_list"
                bindLabel="branch_name"
                placeholder="Select a Branch"
                [(ngModel)]="branch"
                bindValue="id"
                >
              </ng-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
              <div class="form-group">
                  <label>First name<span style="color:red">*</span></label>
                  <input type="text" class="form-control" [(ngModel)]="fname" placeholder="First name..." id="">
                  <i class="form-group__bar"></i>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
              <div class="form-group">
                  <label>Middle name(Optional)</label>
                  <input type="text" class="form-control" [(ngModel)]="mname" placeholder="Middle name...">
                  <i class="form-group__bar"></i>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
              <div class="form-group">
                  <label>Last name<span style="color:red">*</span></label>
                  <input type="text" class="form-control" [(ngModel)]="lname" placeholder="Last name...">
                  <i class="form-group__bar"></i>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12"></div>
          <div class="col-sm-12 col-md-12">
            <div class="checkbox checkbox--inline">
              <input type="checkbox" id="customCheck4" [(ngModel)]="isActive">
              <label class="checkbox__label" for="customCheck4">Is Active</label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="saveSecretary()"><i class="zmdi zmdi-save"></i> {{mode == 'add' ? 'SAVE' : 'UPDATE'}}</button>
        <button type="button" class="btn btn-danger" (click)="modalSecretary.hide()"><i class="zmdi zmdi-close"></i> CANCEL</button>
      </div>
    </div>
  </div>
</div>