<div class="content__inner">

  <header class="content__title">
    <h1>{{ pageTitle }}</h1>
  </header>

  <div class="card">
    <div class="card-body">

      <div class="form-group form-group--float form-group--centered">
        <input
          type="password"
          class="form-control"
          [(ngModel)]="oldPass"
          InputFloat
          minlength="6"
        />
        <label>Old Password</label>
        <i class="form-group__bar"></i>
      </div>

      <div class="form-group form-group--float form-group--centered">
        <input
          type="password"
          class="form-control"
          [(ngModel)]="newPass"
          InputFloat
          minlength="6"
        />
        <label>New Password</label>
        <i class="form-group__bar"></i>
      </div>

      <div class="form-group form-group--float form-group--centered">
        <input
          type="password"
          class="form-control"
          [(ngModel)]="confirmPass"
          InputFloat
          maxlength="16"
          minlength="6"
        />
        <label>Confirm new password</label>
        <i class="form-group__bar"></i>
      </div>
      <div class="form-group form-group--centered">
        <button
          type="button"
          class="btn btn-primary"
          (click)="onChangePassword()"
        >
          Save
        </button>
      </div>

    </div>
  </div>
  
</div>

