<div class="content__inner">
    <header class="content__title">
      <h1>{{ doctor_info?.fullname }}</h1>
      <small>{{doctor_info?.rank_name}}</small>

      <div class="actions">
        <a class="actions__item zmdi zmdi-long-arrow-left" tooltip="Back to list" [routerLink]="'/admin/dentists/list'"></a>
      </div>
    </header>
  
    <div class="card profile">
      <div class="profile__img">
        <img [src]="profileInfo.img" alt="">
  
        <a [routerLink]="" class="zmdi zmdi-camera profile__img__edit"></a>
      </div>
  
      <div class="profile__info">
        <p>{{ patient_info?.fullname }}</p>
  
        <ul class="icon-list">
          <li><i class="zmdi zmdi-phone"></i> {{doctor_info?.contact_no}}</li>
          <li><i class="zmdi zmdi-email"></i> {{doctor_info?.email}}</li>
          <li><i class="zmdi zmdi-pin"></i> {{doctor_info?.branch_name}}</li>
        </ul>
      </div>
    </div>
  
    <div class="toolbar">
      <nav class="toolbar__nav">
        <a routerLinkActive="active" [routerLink]="['about']">About</a>
        <a routerLinkActive="active" [routerLink]="['commissions']">Commissions</a>
      </nav>
  
      <div class="actions">
        <i class="actions__item zmdi zmdi-search" (click)="profileSearch = true"></i>
      </div>
  
      <div *ngIf="profileSearch" class="toolbar__search">
        <input type="text" placeholder="Search...">
        <i class="toolbar__search__close zmdi zmdi-long-arrow-left" (click)="profileSearch = false"></i>
      </div>
    </div>
  
    <router-outlet></router-outlet>
  </div>