<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ widgetTitle }}</h4>
    <h6 class="card-subtitle">{{ widgetSubTitle }}</h6>
  </div>

  <div class="listview listview--hover">
    <a *ngFor="let post of pending_patient_list" class="listview__item" >
      <img src="./assets/img/avatar/Blank-Avatar.png" class="listview__img" alt="">

      <div class="listview__content">
        <div class="listview__heading">{{ post.patient_name }}</div>
        <p>{{ post.procedure_name }}</p>
        <p>{{ post.date }}</p>
        <p>{{ post.dentist_name }}</p>
        <p>{{ post.branch_name }}</p>
      </div>
      <div class="widget-past__chart hidden-sm">
        <p style="text-decoration: none;color: black;" *ngIf="post.proc_status =='pending'">{{ post.amount | currency: 'PHP' : 'symbol-narrow' : '1.2-2'}}</p>
        <p style="text-decoration: none;color: black;" *ngIf="post.proc_status =='paid-pending'">PAID</p>

      </div>
    </a>



    <a [routerLink]="['/admin/transactions/pending/list']" class="view-more">View All</a>
  </div>
</div>