<header class="content__title">
  <h1>{{ pageTitle }}</h1>
  <small>{{ widgetSubTitle }}</small>

  <div class="actions actions">

    <div class="btn-demo">
      <button class="btn btn-primary btn--icon-text" (click)="addItem()"><i class="zmdi zmdi-plus"></i> Add New</button>
      <button class="btn btn-success btn--icon-text"  (click)="getItems()"><i class="zmdi zmdi-refresh"></i> Refresh</button>
    </div>
  </div>
</header>


<div class="card d-none d-sm-block">
  <div class="card-body">
    <div class="table-responsive ">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th></th>
            <th></th>
            <th>Item Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Date Created</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of items_list">
            <td>
              <div class="btn-demo">
                <button type="button" class="btn btn-success w-100" (click)="editItem(data)"><i class="zmdi zmdi-edit"></i> Edit</button>
              </div>
            </td>
            <td>
              <a [href]="data.attachment" target="_blank"  *ngIf="data.attachment!=''">
                <img [src]="data.attachment" style="height:90px;width: 100px;">
              </a>
            </td>
            <td>{{ data.item_name }}</td>
            <td>{{ data.item_description }}</td>
            <td>{{ data.category_name }}</td>


            <td>{{ data.date_created }}</td>

          </tr>
        </tbody>
        <tfoot *ngIf="items_list.length!=0">
          <tr>
            <td colspan="5">
              <pagination (pageChanged)="pageChange($event)"
                [totalItems]="items_count"
                [maxSize]="10"
                [itemsPerPage]="rows" >
              </pagination>
            </td>
            <td align="right">
              {{((page-1)*rows)+1 | number : '1.0-0'}} of {{items_count | number : '1.0-0'}}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

</div>

<div class="card text-center d-block d-sm-none" *ngFor="let data of items_list">
  <div class="card-header">
    <a [href]="data.attachment" target="_blank" *ngIf="data.attachment!=''" >
      <img [src]="data.attachment" style="height:100px;width: 100px;" *ngIf="data.attachment!=''">
    </a>
  </div>

  <div class="card-body">
    <h5 class="card-title">{{data.item_name}}</h5>
    <strong>{{data.category_name}}</strong>
    <p class="card-text">{{data.item_description}}</p>
    
  </div>
  <div class="card-footer">
    <div class="btn-demo">
      <button type="button" class="btn btn-success w-100" (click)="editItem(data)"><i class="zmdi zmdi-edit"></i> Edit</button>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #modalItem="bs-modal" [config]="{ backdrop: 'static' }" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5>{{mode == 'add' ? 'Add Item' : 'Edit Item'}}</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <label class="col-sm-12 col-md-3 col-form-label">Item Name <span style="color:red">*</span></label>
          <div class="col-sm-12 col-md-9">
              <div class="form-group">
                  <input name="input_fight_no" type="text" class="form-control" [(ngModel)]="item_name" placeholder="">
                  <i class="form-group__bar"></i>
              </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-12 col-md-3 col-form-label">Description</label>
          <div class="col-sm-12 col-md-9">
              <div class="form-group">
                  <textarea  class="form-control" [(ngModel)]="item_description"></textarea>
                  <i class="form-group__bar"></i>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <label>Category <span style="color:red">*</span></label>
          </div>
          <div class="col-sm-12 col-md-9">
            <div class="form-group">
              <ng-select
                [items]="categories_list"
                bindLabel="category_name"
                placeholder="Select a Category"
                [(ngModel)]="selected_category">
              </ng-select>
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-12 col-md-3 col-form-label">Attachment</label>

          <div class="col-sm-12 col-md-9">
            <!-- <button class="btn btn-primary" (click)="uploadClickItems()">UPLOAD ATTACHMENT</button> -->
            <input #itemAttachment class="form-control" type="file" id="uploadItemAttachment"
            (change)="handleFileUploadItem($event)" accept="image/png, image/gif, image/jpeg">
          </div>
        </div>

        <div class="row">
          <label class="col-sm-12 col-md-3 col-form-label"></label>

          <div class="col-sm-12 col-md-9" style="margin-top:10px">
            <div class="checkbox">
                <input type="checkbox" id="customCheck1" [(ngModel)]="is_active">
                <label class="checkbox__label" for="customCheck1">Is Active</label>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="saveItem()"><i class="zmdi zmdi-save"></i> {{mode == 'add' ? 'SAVE' : 'UPDATE'}}</button>
        <button type="button" class="btn btn-danger" (click)="modalItem.hide()"><i class="zmdi zmdi-close"></i> CANCEL</button>
      </div>
    </div>
  </div>
</div>