<header class="content__title">
  <h1>{{ pageTitle }}</h1>
  <small>{{ widgetSubTitle }}</small>
</header>

<div class="card">
  <div class="card-body">
    <tabset>
      <tab heading="Dentists">
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <div class="form-group">
              <label>Dentist</label>
              <ng-select
                [items]="doctors_list"
                bindLabel="fullname"
                bindValue="id"
                groupBy="branch_name"
                [multiple]="true"
                dropdownPosition="bottom"
                placeholder="Select a Dentist"
                [(ngModel)]="doctors"
                >
              </ng-select>
            </div>
          </div>
          <div class="col-sm-12 col-md-2">
            <div class="form-group">
              <label>From</label>
              <input type="text" placeholder="Pick a date" class="form-control" bsDatepicker [bsConfig]="bsConfig" [(ngModel)]="from">
              <i class="form-group__bar"></i>
            </div>
          </div>
          <div class="col-sm-12 col-md-2">
            <div class="form-group">
              <label>To</label>
              <input type="text" placeholder="Pick a date" class="form-control" bsDatepicker [bsConfig]="bsConfig" [(ngModel)]="to">
              <i class="form-group__bar"></i>
            </div>
          </div>
          <div class="col-sm-12 col-md-2">
            <div class="form-group" style="padding-top:20px">
              <button type="button" class="btn btn-primary" (click)="getDoctorCommissionsSearch()"><i class="zmdi zmdi-search"></i> Search</button>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Dentist</th>
                <th>Patient</th>
                <th>Procedure</th>
                <th>Total Amount</th>
                <th>Dentist Commission</th>
                <th>Covered Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="dentist_commission_list.length==0">
                <td colspan="6" align="center">No record(s) found.</td>
              </tr>
              <tr *ngFor="let dataDentist of dentist_commission_list">
                <td>{{ dataDentist.dentist}}</td>
                <td>{{ dataDentist.patient}}</td>
                <td>{{ dataDentist.procedure_name}}</td>
                <td>{{ dataDentist.total_amount | currency: 'PHP' : 'symbol-narrow' : '1.2-2'}}</td>
                <td>{{ dataDentist.commission | currency: 'PHP' : 'symbol-narrow' : '1.2-2'}}</td>
                <td>{{ dataDentist.covered_date}}</td>
              </tr>
            </tbody>
            <tfoot *ngIf="dentist_commission_list.length!=0">
              <tr>
                <td colspan="6">
                  <pagination (pageChanged)="pageChangeDentist($event)"
                    class="justify-content-center"
                    [totalItems]="dentist_commission_total"
                    [maxSize]="10"
                    [itemsPerPage]="10" >
                  </pagination>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>

      </tab>
      <tab heading="Assistants">
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <div class="form-group">
              <label>Assistants</label>
              <ng-select
                [items]="assistants_list"
                bindLabel="fullname"
                bindValue="id"
                groupBy="branch_name"
                [multiple]="true"
                dropdownPosition="bottom"
                placeholder="Select Assistants"
                [(ngModel)]="assistants"
                >
              </ng-select>
            </div>
          </div>
          <div class="col-sm-12 col-md-2">
            <div class="form-group">
              <label>From</label>
              <input type="text" placeholder="Pick a date" class="form-control" bsDatepicker [bsConfig]="bsConfig" [(ngModel)]="assistantDateFrom">
              <i class="form-group__bar"></i>
            </div>
          </div>
          <div class="col-sm-12 col-md-2">
            <div class="form-group">
              <label>To</label>
              <input type="text" placeholder="Pick a date" class="form-control" bsDatepicker [bsConfig]="bsConfig" [(ngModel)]="assistantDateTo">
              <i class="form-group__bar"></i>
            </div>
          </div>
          <div class="col-sm-12 col-md-2">
            <div class="form-group" style="padding-top:20px">
              <button type="button" class="btn btn-primary" (click)="getAssistantsCommissionsSearch()"><i class="zmdi zmdi-search"></i> Search</button>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Assistant</th>
                <th>Patient</th>
                <th>Procedure</th>
                <th>Total Amount</th>
                <th>Assistant Commission</th>
                <th>Covered Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="assistant_commission_list.length==0">
                <td colspan="6" align="center">No record(s) found.</td>
              </tr>
              <tr *ngFor = "let dataAssist of assistant_commission_list">
                <td>{{ dataAssist.assistant }}</td>
                <td>{{ dataAssist.patient }}</td>
                <td>{{ dataAssist.procedure_name }}</td>
                <td>{{ dataAssist.total_amount | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</td>
                <td>{{ dataAssist.commission | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</td>
                <td>{{ dataAssist.covered_date }}</td>
              </tr>
            </tbody>
            <tfoot *ngIf="assistant_commission_list.length!=0">
              <tr>
                <td colspan="6">
                  <pagination (pageChanged)="pageChangeAssistant($event)"
                    class="justify-content-center"
                    [totalItems]="assistant_commission_total"
                    [maxSize]="10"
                    [itemsPerPage]="10" >
                  </pagination>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </tab>
      <tab heading="Secretaries">
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <div class="form-group">
              <label>Secretary</label>
              <ng-select
                [items]="secretaries_list"
                bindLabel="fullname"
                bindValue="id"
                groupBy="branch_name"
                [multiple]="true"
                dropdownPosition="bottom"
                placeholder="Select Secretaries"
                [(ngModel)]="secretaries"
                >
              </ng-select>
            </div>
          </div>
          <div class="col-sm-12 col-md-2">
            <div class="form-group">
              <label>From</label>
              <input type="text" placeholder="Pick a date" class="form-control" bsDatepicker [bsConfig]="bsConfig" [(ngModel)]="secretaryDateFrom">
              <i class="form-group__bar"></i>
            </div>
          </div>
          <div class="col-sm-12 col-md-2">
            <div class="form-group">
              <label>To</label>
              <input type="text" placeholder="Pick a date" class="form-control" bsDatepicker [bsConfig]="bsConfig" [(ngModel)]="secretaryDateTo">
              <i class="form-group__bar"></i>
            </div>
          </div>
          <div class="col-sm-12 col-md-2">
            <div class="form-group" style="padding-top:20px">
              <button type="button" class="btn btn-primary" (click)="getSecretaryCommissionsSearch()"><i class="zmdi zmdi-search"></i> Search</button>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Secretary</th>
                <th>Patient</th>
                <th>Procedure</th>
                <th>Total Amount</th>
                <th>Secretary Commission</th>
                <th>Covered Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="secretary_commission_list.length==0">
                <td colspan="6" align="center">No record(s) found.</td>
              </tr>
              <tr *ngFor = "let dataSecretary of secretary_commission_list">
                <td>{{ dataSecretary.secretary }}</td>
                <td>{{ dataSecretary.patient }}</td>
                <td>{{ dataSecretary.procedure_name }}</td>
                <td>{{ dataSecretary.total_amount | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</td>
                <td>{{ dataSecretary.commission | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</td>
                <td>{{ dataSecretary.covered_date }}</td>
              </tr>
            </tbody>
            <tfoot *ngIf="secretary_commission_list.length!=0">
              <tr>
                <td colspan="6">
                  <pagination (pageChanged)="pageChangeSecretary($event)"
                    class="justify-content-center"
                    [totalItems]="secretary_commission_total"
                    [maxSize]="10"
                    [itemsPerPage]="10" >
                  </pagination>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </tab>
    </tabset>


  </div>
</div>