<header class="content__title">
  <h1>{{ userInfo?.display_name }}</h1>
  <small>{{ userInfo?.role_name }} - {{ userInfo?.branch_name }}</small>

  <div class="actions actions">
    <div class="btn-demo">
      <button class="btn btn-primary btn--icon-text" [routerLink]="['/admin/users/list']"><i class="zmdi zmdi-arrow-left"></i> Back</button>
    </div>
  </div>
</header>

<div class="card">
  <div class="card-body">
    <h4 class="card-body__title mb-4">User Logs</h4>
    <div class="table-responsive ">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Module</th>
            <th>Activity</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="userInfo?.audit.length ==0">
            <td colspan="3" align="center">
              No record(s) found.
            </td>
          </tr>
          <tr *ngFor = "let data of userInfo?.audit">
            <td>{{ data?.title }}</td>
            <td>{{ data?.activity }}</td>
            <td>{{ data?.date_created }}</td>
          </tr>
        </tbody>
        <tfoot *ngIf="userInfo?.audit.length!=0">
          <tr>
            <td colspan="3">
              <pagination (pageChanged)="pageChange($event)"
                [totalItems]="auditCount"
                [maxSize]="10"
                [itemsPerPage]="rows" >
              </pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

  </div>
</div>
