<div class="card">

  <div *ngIf="!mode_edit">
    <div class="toolbar toolbar--inner" style="position: absolute;right: 0">
      <div class="actions">
          <a [routerLink]="" class="actions__item zmdi zmdi-edit" (click)="toggleEdit()" tooltip="Edit Info"></a>
      </div>
    </div>
    <div class="card-body">
      <div [innerHtml]="patient_about"></div>
    </div>
  </div>

  <div *ngIf="mode_edit">
    <div class="toolbar toolbar--inner">
      <div class="actions">
          <a [routerLink]="" class="actions__item zmdi zmdi-save" (click)="updateAbout()" tooltip="Update"></a>
          <a [routerLink]="" class="actions__item zmdi zmdi-close" (click)="toggleEdit()" tooltip="Cancel"></a>

      </div>
    </div>
    <div class="card-body" >
      <quill-editor [(ngModel)]="patient_about_edit"></quill-editor>
    </div>
  </div>
</div>