.main {
  position: relative;
}

.main--alt {
  padding-top: 40px;
}

.content {
  &:not(.content--boxed):not(.content--full) {
    @include media-breakpoint-up(xl) {
      padding: ($header-height + $grid-gutter-width) $grid-gutter-width 0 $sidebar-width + 10px;
    }

    @include media-breakpoint-between(sm, lg) {
      padding: ($header-height + $grid-gutter-width) $grid-gutter-width 0;
    }

    @include media-breakpoint-down(xs) {
      padding: ($header-height + $grid-gutter-width/2) $grid-gutter-width/2 0;
    }
  }
}

.content--full {
  @include media-breakpoint-up(sm) {
    padding: ($header-height + $grid-gutter-width) $grid-gutter-width 0;
  }

  @include media-breakpoint-down(sm) {
    padding: ($header-height + $grid-gutter-width/2) $grid-gutter-width/2 0;
  }
}

.content__inner {
  margin: auto;

  &:not(.content__inner--sm) {
    max-width: 1280px;
  }
}

.content__inner--sm {
  max-width: 800px;
}

.content__title {
  margin-bottom: 2rem;
  padding: 1.5rem 2rem 0;
  position: relative;

  & > h1 {
    line-height: 100%;
    font-weight: normal;
    font-size: 1.15rem;
    margin: 0;
    text-transform: uppercase;
    color: $content-title-heading-color;
  }

  .actions {
    position: absolute;
    min-height: 30px;
    bottom: 0;
    top: 0;
    margin: auto;
    right: 1rem;
  }

  & > small {
    font-size: 1rem;
    display: block;
    margin-top: 0.8rem;
    color: lighten($content-title-heading-color, 18%);
  }
}