<div class="progress-block" *ngIf="downloadArrays.length!=0">
  <div class="progress-block__header">
    <a><i class="zmdi zmdi-close" (click)="onClose()"></i></a>
  </div>
  <div class="progress-block__file-info" *ngFor="let data of downloadArrays">
    {{data.file_name}} {{data.status=='PENDING' ? 'PENDING' : '' }} <a (click)="onDownload()" *ngIf="data.status=='DONE'" href="{{'http://192.168.1.49:3000/' + data.file_name}}" target="_blank">Download</a>
  </div>
</div>