.progress-block{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: auto;
    width: 350px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
    z-index: 999;
    &__header {
        display: flex;
        justify-content: right ;
    }
    &__file-info {
        margin:5px;
        padding:5px;
    }
}