<div class="row quick-stats">

  <div class="col-sm-6 col-md-3">
      <div class="quick-stats__item bg-blue">
          <div class="quick-stats__info">
              <h2>{{ daily_sales?.number | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</h2>
              <small>{{ daily_sales?.title }}</small>
          </div>
      </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="quick-stats__item bg-red">
        <div class="quick-stats__info">
            <h2>{{ daily_expenses?.number | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</h2>
            <small>{{ daily_expenses?.title }}</small>
        </div>
    </div>
   </div>

   <div class="col-sm-6 col-md-3">
    <div class="quick-stats__item bg-deep-purple">
        <div class="quick-stats__info">
            <h2>{{ unpaid_amount?.number | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</h2>
            <small>{{ unpaid_amount?.title }}</small>
        </div>
    </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="quick-stats__item bg-teal">
            <div class="quick-stats__info">
                <h2>{{ grand_total?.number | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</h2>
                <small>{{ grand_total?.title }}</small>
            </div>
        </div>
    </div>
</div>
