.btn-demo {
    & > .btn,
    & > .btn-group {
      margin: 0 5px 10px 0;
    }
  }

  .table-sales {
    tbody {
      td {
        input[type=text],input[type=number],select
        {
          background-color: #fff;
        }
      }
    }
  }

.amount {
    position: relative;
    background-color: #dedede;
    display: inline;

    input[type=number]
    {
      margin-left: 10px;
    }
}

.amount:before {
    content: '₱';
    position: absolute;
    top: 6px;
    left: 0;
    z-index: 1;
}
