<header class="content__title">
  <h1>{{ pageTitle }}</h1>
  <small>{{ widgetSubTitle }}</small>
</header>

<div class="card">
  <div class="card-header">
    <h5>Transaction Details</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="form-group">
            <label>Patient</label>
            <div style="display:flex;justify-content: center;">
              <input type="text" class="form-control" [(ngModel)]="patient.fullname" disabled placeholder="Select a Patient">
              <button (click)="searchPatient()" class="btn btn-primary"><i class="zmdi zmdi-search"></i></button>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="form-group">
          <label>Mode of Payment</label>
          <select class="form-control" [(ngModel)]="mop" (ngModelChange)="mopChange()">
            <option>CASH</option>
            <option>GCASH</option>
            <option>CARD</option>
            <option>PAYMAYA</option>
            <option>BANK TRANSFER</option>
            <option>SPLIT PAYMENT</option>
            <option>PARTIAL PAYMENT</option>
          </select>
          <i class="form-group__bar"></i>
        </div>
      </div>

      <div class="col-sm-6 col-md-6">
        <div class="form-group">
          <label>Branch</label>
          <ng-select
            [items]="branch_list"
            bindLabel="branch_name"
            placeholder="Select a Branch"
            [(ngModel)]="branch"
            bindValue="id"
            >
          </ng-select>
          <i class="form-group__bar"></i>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="form-group">
            <label>Procedure</label>
            <ng-select
              [items]="procedures_list"
              bindLabel="procedure_name"
              placeholder="Select a Procedure"
              groupBy="category"
              [multiple]="true"
              (change)="procedureChanged(procedure);getTotalProcedurePrice()"
              [(ngModel)]="procedure">
            </ng-select>
            <i class="form-group__bar"></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="table-responsive " style="min-height: 270px;">
        <table class="table table-striped table-sales">
          <thead>
            <tr>
              <th>Procedure</th>
              <th>Quantity</th>
              <th>Amount</th>
              <th>Dentist</th>
              <th>Assistant(s)</th>
              <th>Secretaries</th>
              <th colspan="2">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="procedure.length==0">
              <td colspan="7" align="center">Select a procedure first</td>
            </tr>
            <tr *ngFor="let data_proc of procedure">
              <td>
                {{ data_proc.procedure_name }}
              </td>
              <td style="max-width: 80px;">
                <div class="form-group">
                  <input type="number" class="form-control" min="1" (click)="$event.target.select()" [(ngModel)]="data_proc.quantity" (ngModelChange)="data_proc.quantity = $event" placeholder="0.00" (change)="getTotalProcedurePrice()" >
                  <i class="form-group__bar"></i>
                </div>
              </td>
              <td style="max-width: 120px;">
                <div class="form-group amount">
                  <input type="number" class="form-control" min="1" step="1" (click)="$event.target.select()" [(ngModel)]="data_proc.price" (ngModelChange)="data_proc.price = $event" placeholder="0.00" (change)="getTotalProcedurePrice()">
                  <i class="form-group__bar"></i>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <ng-select
                    [items]="doctors_list"
                    bindLabel="fullname"
                    bindValue="id"
                    groupBy="branch_name"
                    dropdownPosition="bottom"
                    placeholder="Select a Dentist"
                    [(ngModel)]="data_proc.dentist"
                    (ngModelChange)="data_proc.dentist = $event"
                    [disabled]="!data_proc.isDentistAllowed"
                    >
                  </ng-select>
                </div>
              </td>
              <td style="max-width: 200px;">
                <div class="form-group">
                  <ng-select
                          [items]="assistants_list"
                          bindLabel="fullname"
                          bindValue="id"
                          groupBy="branch_name"
                          dropdownPosition="bottom"
                          [multiple]="true"
                          placeholder="Select Assistants"
                          [(ngModel)]="data_proc.assistants"
                          (ngModelChange)="data_proc.assistants = $event"
                          [disabled]="!data_proc.isAssistantAllowed"
                          >
                  </ng-select>
                </div>
              </td>
              <td style="max-width: 200px;">
                <div class="form-group">
                  <ng-select
                          [items]="secretaries_list"
                          bindLabel="fullname"
                          bindValue="id"
                          groupBy="branch_name"
                          dropdownPosition="bottom"
                          [multiple]="true"
                          placeholder="Select Secretaries"
                          [(ngModel)]="data_proc.secretaries"
                          (ngModelChange)="data_proc.secretaries = $event"
                          [disabled]="!data_proc.isSecretaryAllowed"
                          >
                  </ng-select>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="date" class="form-control" [(ngModel)]="data_proc.date" (ngModelChange)="data_proc.date = $event">
                  <i class="form-group__bar"></i>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="time" class="form-control" [(ngModel)]="data_proc.time" (ngModelChange)="data_proc.time = $event">
                  <i class="form-group__bar"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-sm-6 col-md-6">
        <h5>Payment Details</h5>
        <div class="table-responsive">
          <table class="table table-striped table-sales">
            <thead>
              <th>Amount</th>
              <th>Mode of Payment</th>
              <th colspan="2">Payment Date</th>
              <th width="30px"></th>
            </thead>
            <tbody>
              <tr *ngIf="splitPartialArr.length==0">
                <td colspan='4' align="center">Please add payments by pressing Add Payment button</td>
              </tr>
              <tr *ngFor="let splitData of splitPartialArr;let i = index ">
                <td>
                  <div class="form-group amount">
                    <input type="number" class="form-control" min="1" step="1" (click)="$event.target.select()" [(ngModel)]="splitData.amount" (ngModelChange)="splitData.amount = $event" (change)="partialPaymentRemainingBalance()" placeholder="0.00" [disabled]="!isSplitOrPartial">
                    <i class="form-group__bar"></i>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <select class="form-control" [(ngModel)]="splitData.mop" [disabled]="!isSplitOrPartial">
                      <option default>CASH</option>
                      <option>GCASH</option>
                      <option>CARD</option>
                      <option>PAYMAYA</option>
                      <option>BANK TRANSFER</option>
                    </select>
                    <i class="form-group__bar"></i>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="date" class="form-control" [(ngModel)]="splitData.payment_date"> 
                    <i class="form-group__bar"></i>
                  </div>
                </td>

                <td>
                  <div class="form-group">
                    <input type="time" class="form-control" [(ngModel)]="splitData.payment_time" > 
                    <i class="form-group__bar"></i>
                  </div>
                </td>
                <td>
                    <div class="actions" *ngIf="isSplitOrPartial">
                      <a [routerLink]="" class="actions__item zmdi zmdi-close" (click)="deleteRowPayment(i)" ></a>
                    </div>
                </td>
              </tr>
            </tbody>
            <tfoot *ngIf="isSplitOrPartial">
              <tr>
                <td colspan="5"><button class="btn btn-primary w-100" (click)="addPaymentMethod()"><i class="zmdi zmdi-plus"></i> Add Payment</button></td>
              </tr>
            </tfoot>
          </table>
          <hr>
        </div>
      </div>

      <div class="col-sm-6 col-md-6">
        <h5>Billing Details</h5>
        <table align="left" class="table table-striped">
          <tr>
            <td>Total Amount:</td>
          </tr>
          <tr>
            <td><h3>{{totalProcedurePrice | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</h3></td>
          </tr>
          <tr *ngIf="isSplitOrPartial">
            <td>Remaining Balance</td>
          </tr>
          <tr *ngIf="isSplitOrPartial">
            <td><h3>{{partialTotal | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</h3></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12">
        <h5>Remarks</h5>
        <div class="form-group">
          <textarea class="form-control" placeholder="Enter your remarks here..." [(ngModel)]="remarks"></textarea>
          <i class="form-group__bar"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <div class="btn-demo pull-right">
      <button type="button" class="btn btn-primary" (click)="showConfirmationModal()" [disabled]="disableSaveButton()"><i class="zmdi zmdi-save"></i> PROCEED</button>
      <button type="button" class="btn btn-danger" (click)="cancelButton()"><i class="zmdi zmdi-close"></i> CANCEL</button>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #modalSearchPatient="bs-modal" [config]="{ backdrop: 'static' }" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="border: 1px solid #888 !important;">
      <div class="modal-header">
        <h5>Search Patient</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-md-3">
              <div class="form-group">
                  <label class="col-form-label">Last Name</label>
                  <input type="text" class="form-control" [(ngModel)]="search_lname" placeholder="Last name ....">
                  <i class="form-group__bar"></i>
              </div>
          </div>
          <div class="col-sm-12 col-md-3">
            <div class="form-group">
                <label class="col-form-label">First Name</label>
                <input name="input_fight_no" type="text" class="form-control" [(ngModel)]="search_fname" placeholder="First name ....">
                <i class="form-group__bar"></i>
            </div>
          </div>
          <div class="col-sm-12 col-md-3">
            <div class="form-group">
                <label class="col-form-label">Middle Name</label>
                <input name="input_fight_no" type="text" class="form-control" [(ngModel)]="search_mname" placeholder="Middle name ....">
                <i class="form-group__bar"></i>
            </div>
          </div>
        </div>
        <div class="row">
          
          <div class="table-responsive">
            <h5>Search Result</h5>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Action</th>
                  <th>Fullname</th>
                  <th>Birthday</th>
                  <th>Address</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="search_res_list.length==0">
                  <td colspan="4" align="center">No record(s) found.</td>
                </tr>
                <tr *ngFor="let search of search_res_list">
                  <td>
                    <button class="btn btn-primary" (click)="selectPatient(search)">
                      <i class="zmdi zmdi-arrow-left"></i>
                      Select
                    </button>
                  </td>
                  <td>{{ search.fullname }} </td>
                  <td>{{ search.birthday }} </td>
                  <td>{{ search.address }} </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="4">
                    <pagination (pageChanged)="pageChange($event)"
                      class="justify-content-center"
                      [totalItems]="search_res_total"
                      [maxSize]="10"
                      [itemsPerPage]="10" >
                    </pagination>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="searchPatientByName()"><i class="zmdi zmdi-search"></i> Search</button>
        <button type="button" class="btn btn-danger" (click)="modalSearchPatient.hide()"><i class="zmdi zmdi-close"></i> Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #modalSalesConfirmation="bs-modal" [config]="{ backdrop: 'static' }" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" style="border: 1px solid #888 !important;">
      <div class="modal-header">
        <h5>CONFIRMATION</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <h4 class="card-title">Transaction Details</h4>
          
          <table style="width: 100%;">
            <tr>
              <td>Patient</td>
              <td>{{ patient.fullname }}</td>
            </tr>
            <tr>
              <td>Mode of Payment</td>
              <td>{{ mop }}</td>
            </tr>
            <tr>
              <td>Branch</td>
              <td>{{ getBranchname(branch) }}</td>
            </tr>
          </table>
          
        </div>
        
        <br>
        <div class="row">
          <h4 class="card-title">Procedure Details</h4>
          <table class="table">
            <thead>
              <th>Procedure</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Dentist</th>
              <th>Assistant</th>
              <th>Secretary</th>
              <th>Date</th>
            </thead>
            <tr *ngFor="let view_procedure of procedure">
              <td>{{ view_procedure.procedure_name}}</td>
              <td>{{ view_procedure.price | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</td>
              <td>{{ view_procedure.quantity}}</td>
              <td>{{ getDentistName(view_procedure.dentist) }}</td>
              <td>
                <span *ngFor="let assistant of view_procedure.assistants">
                  {{ getAssistantsName(assistant) }} <br>
                </span>
                
              </td>
              <td>
                <span *ngFor="let secretary of view_procedure.secretaries">
                  {{ getSecretaryName(secretary) }} <br>
                </span>
              </td>
              <td>
                {{ view_procedure.date +' '+view_procedure.time | date: 'MMM d, y h:mm a' }}
              </td>


            </tr>
          </table>
        </div>
        <div class="row">
          <h4 class="card-title">Payment Details</h4>
  
          <table class="table">
            <thead>
              <th>Mode of Payment</th>
              <th>Amount</th>
              <th>Payment Date</th>
            </thead>
            <tr *ngFor = "let payments of splitPartialArr">
              <td>
                {{ payments.mop }}
              </td>
              <td>
                {{ payments.amount | currency: 'PHP' : 'symbol-narrow' : '1.2-2'  }}
              </td>
              <td>
                {{ payments.payment_date +' '+payments.payment_time | date: 'MMM d, y h:mm a' }}
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="saveSalesTransaction()"><i class="zmdi zmdi-save"></i> SAVE</button>
        <button type="button" class="btn btn-danger" (click)="modalSalesConfirmation.hide()"><i class="zmdi zmdi-close"></i> CANCEL</button>
      </div>
    </div>
  </div>
</div>