/* button layout */
.directional-buttons {
    /* Define the size of the grid */
    /* Other things rely on this! Change at your own peril! */
    width: 3rem;
    height: 4rem;
    /* display the buttons in a grid */
    display: grid;
    /* leave a little gap between columns/rows */
    grid-gap: 0rem;
    /* define a 3 x 3 grid with middle column/row larger */
    grid-template-columns: 60fr 60fr 60fr;
    grid-template-rows: 60fr 60fr 60fr;
    /* name the cells in the grid */
    grid-template-areas: "up up up"
                         "left  middle  right"
                         "down down down";    
  }
  
  /* hides the button text */
  .visually-hidden {
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
  }
  
  /* base button */
  .direction-button {
    /* the button colours */
    color: rgb(255, 255, 255);
    border: 1px solid #000;
    /* since there's no text, we can use the color value for the background */
    background: currentcolor;
    /* clears default button styles */
    /* makes sure the triangles are moved relative to the button */
    position: relative;
  }
  
  /* the overlapping outside triangle 
   * actually, it's just a rotated square
   */
  /* when the button is hovered */
  .direction-button:hover {
    /* make the button a different color */
    color: rgb(85,55,55);
  }
  
  /* when the button is pressed */
  .direction-button:active:after {
    /* make the inner triangle a different color! */
    color: rgb(255, 152, 152);
  }
  
  /* individual button styles */
  .up {
    /* puts the button in the named grid cell */
    grid-area: up;
    
    /* only curves the outer corners */
    border-style: solid;
    border-top-left-radius : 50px;
    border-top-right-radius : 50px;
  
  }
  .up:before {
    /* center the overlapping triangle horizontally */
    left: calc(50% - 2.125rem);
    /* position it so it overlaps just right */
    bottom: -2.125rem;
  }
  .up:after {
    /* do the border-based triangle trick */
    border-bottom-color: currentcolor;
    /* center inner triangle horizontally */
    left: calc(50% - 2rem);
    /* position it just right */
    top: -1rem;
  }
  
  .left {
    /* puts the button in the named grid cell */
    grid-area: left;
    /* only curves the outer corners */
    
  }
  
  .right {
    /* puts the button in the named grid cell */
    grid-area: right;
    /* only curves the outer corners */
  
  }
  .right:before {
    /* position it so it overlaps just right */
    left: -2.125rem;
    /* center the overlapping triangle vertically */
    top: calc(50% - 2.125rem);
  }
  .right:after {
    /* do the border-based triangle trick */
    border-left-color: currentcolor;
    /* center inner triangle vertically */
    top: calc(50% - 2rem);
    /* position it just right */
    right: -1rem;
  }
  
  .down {
    /* puts the button in the named grid cell */
    grid-area: down;
    /* only curves the outer corners */
    border-bottom-left-radius : 50px;
    border-bottom-right-radius : 50px;
  }
  .down:before {
    /* center the overlapping triangle horizontally */
    left: calc(50% - 2.125rem);
    /* position it so it overlaps just right */
    top: -2.125rem;
  }
  .down:after {
    /* do the border-based triangle trick */
    border-top-color: currentcolor;
    /* center inner triangle horizontally */
    left: calc(50% - 2rem);
    /* position it just right */
    bottom: -1rem;
  }
  
  
  .middle {
    /* puts the button in the named grid cell */
    grid-area: middle;
  
    /* only curves the outer corners */
  }
  
  
  
  
  /* other styles */
  html,
  body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkgrey;
  }