<table width="100%">
  <tr >
    <td *ngFor="let data of teeth_list">
      {{data.tooth_number}}
      <div class="directional-buttons">
        <button class="direction-button up">
          <span class="visually-hidden">up</span>
        </button>
        <button class="direction-button left">
          <span class="visually-hidden">left</span>
        </button>
          <button class="direction-button middle">
          <span class="visually-hidden"></span>
        </button>
        <button class="direction-button right">
          <span class="visually-hidden">right</span>
        </button>
        <button class="direction-button down">
          <span class="visually-hidden">down</span>
        </button>
      </div>

    </td>
  </tr>
</table>