<header class="content__title">
  <h1>{{ pageTitle }}</h1>
  <small>{{ widgetSubTitle }}</small>
</header>

<div class="card" *ngFor="let data of profitAndLoss">
  <div class="card-header">
    <h4 class="card-title">{{data.branch_name}}</h4>
  </div>
  <div class="card-body">
      <div >
        <div class="table-responsive " style="overflow-y: scroll;">
          <table class="table table-striped">
            <thead>
              <tr>
                <th [attr.colspan]="expense_categories.length+3" style="vertical-align : middle;text-align:center ;background-color: rgb(105, 248, 248);">Income</th>
                <th [attr.colspan]="expense_categories.length+3" style="vertical-align : middle;text-align:center ;background-color: rgb(105, 248, 248);">Tally Sheet</th>
              </tr>
              <tr>
                <th rowspan="2" style="vertical-align : middle;text-align:center ;">Months</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;">Gross Sales</th>
                <th [attr.colspan]="expense_categories.length" style="vertical-align : middle;text-align:center;background-color: orange;" >Expenses</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;">Net Worth</th>

              </tr>
              <tr>
                <th *ngFor="let expense of expense_categories" style="border: 1px solid #ddd; vertical-align : middle;text-align:center;background-color: rgb(253, 208, 125);">{{expense.expense_category_name}}</th>
              </tr>
            </thead>
            <tr *ngFor="let sub of data.data">
              <td style="max-width: 100px;width: 100px;">{{ sub.month_name }}</td>
              <td style="max-width: 100px;width: 100px;">{{ sub.total_sales | currency: 'PHP' : 'symbol-narrow' : '1.2-2'}}</td>
              <td *ngFor="let expense of sub.expenses" style="border: 1px solid #ddd; max-width: 90px;width: 90px;">{{expense.amount | currency: 'PHP' : 'symbol-narrow' : '1.2-2'}}</td>
              <td style="max-width: 100px;width: 100px;border-right: 1px solid #ddd;">
                <span *ngIf="sub.net_worth >0" style="color:green">{{ sub.net_worth | currency: 'PHP' : 'symbol-narrow' : '1.2-2'}}</span>
                <span *ngIf="sub.net_worth <=0" style="color:red">{{ sub.net_worth | currency: 'PHP' : 'symbol-narrow' : '1.2-2'}}</span>

              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
</div>
