<div class="content--full registration-form">
  <div class="content__inner">
    <header class="content__title">
      <h1>{{ pageTitle }}</h1>
    </header>
  
    <div class="card">
      <div class="card-body card-overflow-scroll">
        <h4 class="card-title">Personal Information</h4>
  
        <form class="row">

          <div class="col-md-6">
            <div class="form-group">
              <label>First Name</label>
              <input type="text" class="form-control" placeholder="e.g: David Smith">
              <i class="form-group__bar"></i>
            </div>
            <div class="form-group">
              <label>Last name</label>
              <input type="text" class="form-control" placeholder="e.g: davidsmith@gmail.com">
              <i class="form-group__bar"></i>
            </div>
            <div class="form-group">
              <label>Middle name</label>
              <input type="text" class="form-control" placeholder="e.g: davidsmith@gmail.com">
              <i class="form-group__bar"></i>
            </div>
            <div class="form-group">
              <label>Address</label>
              <textarea class="form-control" placeholder="e.g: davidsmith@gmail.com"></textarea>
              <i class="form-group__bar"></i>
            </div>
            <div class="form-group">
              <label>Birthday</label>
              <input type="date" class="form-control">
              <i class="form-group__bar"></i>
            </div>
            <div class="form-group">
              <label>Religion</label>
              <input type="text" class="form-control" placeholder="e.g: davidsmith@gmail.com">
              <i class="form-group__bar"></i>
            </div>
            <div class="form-group">
              <label>Nationality</label>
              <input type="text" class="form-control" placeholder="e.g: davidsmith@gmail.com">
              <i class="form-group__bar"></i>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label>Occupation</label>
              <input type="text" class="form-control" placeholder="e.g: David Smith">
              <i class="form-group__bar"></i>
            </div>
            <div class="form-group">
              <label>Office No.</label>
              <input type="text" class="form-control" placeholder="e.g: David Smith">
              <i class="form-group__bar"></i>
            </div>
            <div class="form-group">
              <label>Gender</label>
              <select class="form-control">
                <option>Male</option>
                <option>Female</option>
              </select>
              <i class="form-group__bar"></i>
            </div>
            <div class="form-group">
              <label>Nickname</label>
              <input type="text" class="form-control" placeholder="e.g: David Smith">
              <i class="form-group__bar"></i>
            </div>
            <div class="form-group">
              <label>Mobile/Home No.</label>
              <input type="text" class="form-control" placeholder="e.g: ######">
              <i class="form-group__bar"></i>
            </div>
          </div>
        </form>

        <h4 class="card-title">For Minors</h4>

        <form class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Parents/Guardian Name</label>
              <input type="text" class="form-control" placeholder="e.g: David Smith">
              <i class="form-group__bar"></i>
            </div>
            <div class="form-group">
              <label>Whom we thank for refering you?</label>
              <input type="text" class="form-control" placeholder="e.g: David Smith">
              <i class="form-group__bar"></i>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Occupation</label>
              <input type="text" class="form-control" placeholder="e.g: David Smith">
              <i class="form-group__bar"></i>
            </div>
          </div>
        </form>

        <h4 class="card-title">Dental History</h4>

        <form class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Previous Dentist</label>
              <input type="text" class="form-control" placeholder="e.g: David Smith">
              <i class="form-group__bar"></i>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Last Dental Visit</label>
              <input type="text" class="form-control" placeholder="e.g: David Smith">
              <i class="form-group__bar"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>