<header class="header">
  <app-navigation-trigger></app-navigation-trigger>

  <app-logo></app-logo>

  <ul class="top-nav">
    <li class="dropdown" dropdown>
      <a [routerLink]="" dropdownToggle class="top-nav">
        <i class="zmdi zmdi-notifications"></i>
      </a>
      <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu--block">
        <div class="listview listview--hover">
          <div class="listview__header">
            Notifications
          </div>

          <ng-scrollbar shown="hover" compact="true">
            <div class="listview__scroll">

            </div>
          </ng-scrollbar>
        </div>
      </div>
    </li>
  </ul>
 
</header>