<header class="content__title">
  <h1>{{ pageTitle }}</h1>
  <small>{{ widgetSubTitle }}</small>
</header>

<div class="card">
  <div class="toolbar toolbar--inner">
    <div class="toolbar__label">Sales List</div>

    <div class="actions">
        <i class="actions__item zmdi zmdi-search" (click)="todoSearch = true" *ngIf="!todoSearch"></i>
        <a [routerLink]="" class="actions__item zmdi zmdi-refresh" (click)="getSalesList()" tooltip="Refresh list"></a>
        <!-- <a [routerLink]="" class="actions__item zmdi zmdi-plus" (click)="addSales()"></a> -->
        <a [routerLink]="['/admin/transactions/sales/add']" class="actions__item zmdi zmdi-plus"></a>

    </div>
    
  </div>

  <div class="card-body">
    <div class="row" *ngIf="todoSearch">
      <div class="col-sm-12 col-md-3">
        <div class="form-group" style="padding-top:30px">
          <input type="text" class="form-control" placeholder="Patient name (e.g: Dela Cruz, Juan)" [(ngModel)]="search_patient">
          <i class="form-group__bar"></i>
        </div>
      </div>

      <!-- <div class="col-sm-12 col-md-3">
        <div style="padding-top:30px">
          <ng-select
            class="search__select"
            [items]="doctors_list"
            bindLabel="fullname"
            bindValue="id"
            [multiple]="true"
            groupBy="branch_name"
            dropdownPosition="bottom"
            placeholder="Select a Dentist"
            [(ngModel)]="search_dentist"
            >
          </ng-select> 
        </div>
      </div> -->

      <div class="col-sm-12 col-md-2">
        <div class="form-group" style="padding-top:30px">
          <input type="date" class="form-control" [(ngModel)]="search_date">
          <i class="form-group__bar"></i>
        </div>
      </div>

      <div class="col-sm-12 col-md-2">
        <div class="form-group" style="padding-top:30px">
          <input type="text" class="form-control" placeholder="Remarks" [(ngModel)]="search_remarks" >
          <i class="form-group__bar"></i>
        </div>
      </div>

      <div class="col-sm-12 col-md-2">
        <i class="toolbar__search__close zmdi zmdi-close" (click)="todoSearch = false;getSalesList('clear')" tooltip="Close search box"></i>
        <i class="toolbar__search__search zmdi zmdi-search " (click)="getSalesList()" tooltip="Search"></i>
        
      </div>
    </div>

    <div class="table-responsive ">
      <table class="table table-striped">
        <thead>
        <tr>
          <th style="max-width: 200px;"></th>
          <th>Patient</th>
          <th>Remarks</th>
          <th>Procedure</th>
          <th>Branch</th>
          <th>Amount</th>
          <th>MOP</th>
          <th>Status</th>
          <th>Date Created</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngIf="sales_list.length == 0">
            <td colspan="10" align="center">No record(s) found.</td>
          </tr>
          <tr *ngFor="let data of sales_list">
            <td style="max-width: 200px;">
              <div class="btn-demo">
                <button class="btn btn-danger" (click)="voidTransaction(data)">
                  <i class="zmdi zmdi-delete"></i>
                  VOID
                </button>
                <button class="btn btn-primary" (click)="viewSalesDetails(data)">
                  <i class="zmdi zmdi-eye"></i>
                  VIEW
                </button>
              </div>
            </td>
            <td>
              {{data.patient}}
            </td>
            <td>
              {{data.remarks}}
            </td>
            <td>
              <div *ngFor = " let sub of data.details">
                {{ sub.procedure_name }}
              </div>
            </td>
            <td>
              {{ data.branch_name }}
            </td>
            <td>
              {{ data.amount | currency: 'PHP' : 'symbol-narrow' : '1.2-2'  }}
            </td>
            <td>
              {{ data.mop }}
            </td>
            <td>
              <span class="badge badge-danger" *ngIf="data.status=='VOIDED'">VOIDED</span>
              <span class="badge badge-success" *ngIf="data.status=='DONE'">PAID</span>
              <span class="badge badge-warning" *ngIf="data.status=='PENDING'">PENDING</span>

            </td>
            <td>
              {{ data.date_created }} <br>
              {{ data.created_by }}
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="sales_list.length!=0">
          <tr>
            <td colspan="10">
              <pagination (pageChanged)="pageChange($event)"
                class="justify-content-center"
                [totalItems]="total_sales"
                [maxSize]="10"
                [itemsPerPage]="rows" >
              </pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #modalViewSalesDetails="bs-modal" [config]="{ backdrop: 'static' }" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="border: 1px solid #888 !important;">
      <div class="modal-header">
        <h5>Sales Details</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <h4 class="card-title">Procedures</h4>
  
          <table class="table">
              <thead>
                <th>Procedure</th>
                <th>Dentist</th>
                <th>Patient</th>
                <th>Amount</th>
              </thead>
              <tr *ngFor = "let procedures of viewDetails?.details">
                <td>
                  {{ procedures.procedure_name }}
                </td>
                <td>
                  {{ procedures.dentist_name }}
                </td>
                <td>
                  {{ procedures.patient_name }}
                </td>
                <td>
                  {{ procedures.amount | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}
                </td>
              </tr>
          </table>
        </div>
        <div class="row">
          <h4 class="card-title">Payment Details</h4>
  
          <table class="table">
            <thead>
              <th>Mode of Payment</th>
              <th>Amount</th>
              <th>Payment Date</th>
            </thead>
            <tr *ngFor = "let payments of viewDetails?.payments">
              <td>
                {{ payments.mop }}
              </td>
              <td>
                {{ payments.amount | currency: 'PHP' : 'symbol-narrow' : '1.2-2'  }}
              </td>
              <td>
                {{ payments.payment_date }}
              </td>
            </tr>
          </table>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="voidTransaction(viewDetails)"><i class="zmdi zmdi-delete"></i> VOID TRANSACTION</button>
        <button type="button" class="btn btn-danger" (click)="modalViewSalesDetails.hide()"><i class="zmdi zmdi-close"></i> CLOSE</button>
      </div>
    </div>
  </div>
</div>