<div class="card">
  <div *ngIf="patient_attachments.length==0" style="text-align: center;align-items: center;padding:auto">
    <span>No Picture(s) to show</span>
  </div>
  <div class="row photos">
    <div class="col-md-2 col-4 photos__item" *ngFor="let item of patient_attachments; let index = index">
      <img [src]="item.file_name" alt=""/>
    </div>
  </div>
</div>
