<header class="content__title">
  <h1>{{ pageTitle }}</h1>
  <small>{{ widgetSubTitle }}</small>
</header>


<div class="card">
  <div class="toolbar toolbar--inner">
    <div class="toolbar__label">Pending Payment List</div>

    <div class="actions">
        <!-- <i class="actions__item zmdi zmdi-search" (click)="todoSearch = true"></i> -->
        <a [routerLink]="" class="actions__item zmdi zmdi-refresh" (click)="getPendingTransactions()" tooltip="Refresh list"></a>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive ">
      <table class="table table-striped">
        <thead>
          <tr>
            <th width="70px"></th>
            <th>Branch</th>
            <th>Total Amount</th>
            <th>Total Payment</th>
            <th>Remaining</th>
            <th>Date Created</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="pending_payment_list.length==0">
            <td colspan="6" align="center">No record(s) found.</td>
          </tr>
          <tr *ngFor = "let data of pending_payment_list">
            <td>
              <div class="btn-demo">
                <button class="btn btn-primary" (click)="viewDetails(data)" ><i class="zmdi zmdi-eye"></i></button>
              </div>
            </td>
            <td>{{ data.branch_name }}</td>
            <td>{{ data.total_amount | currency: 'PHP' : 'symbol-narrow' : '1.2-2'  }}</td>
            <td>{{ data.total_payment | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</td>
            <td>{{ data.remaining_bal | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</td>
            <td>
              {{ data.date_created }}
              <br>
              {{ data.created_by }}
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="pending_payment_list.length!=0">
          <tr>
            <td colspan="6">
              <pagination (pageChanged)="pageChange($event)"
                class="justify-content-center"
                [totalItems]="pending_payment_total"
                [maxSize]="10"
                [itemsPerPage]="rows" >
              </pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #modalPayments="bs-modal" [config]="{ backdrop: 'static' }" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5>View Transaction Details</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <h5>Transaction Details</h5>
          <div class="table-responsive ">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Patient</th>
                  <th>Dentist</th>
                  <th>Procedure</th>
                  <th>Quantity</th>
                  <th>Amount</th>
                  <th>Total Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let view of view_data.transaction_details">
                  <td>{{ view.patient_name }}</td>
                  <td>{{ view.dentist_name }}</td>
                  <td>{{ view.procedure_name }}</td>
                  <td>{{ view.qty }}</td>
                  <td>{{ view.amount | currency: 'PHP' : 'symbol-narrow' : '1.2-2'}}</td>
                  <td>{{ view.total_amount | currency: 'PHP' : 'symbol-narrow' : '1.2-2'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <h5>Payment Details</h5>
          <div class="table-responsive ">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Amount</th>
                  <th>MOP</th>
                  <th>Payment Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let view of view_data.payment_details">
                  <td>{{ view.amount | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</td>
                  <td>{{ view.mop }}</td>
                  <td>{{ view.payment_date }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="table-responsive ">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Total Amount</th>
                  <th>Total Payment</th>
                  <th>Remaining Balance</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ view_data.total_amount | currency: 'PHP' : 'symbol-narrow' : '1.2-2'  }}</td>
                  <td>{{ view_data.total_payment | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</td>
                  <td>
                    <span style="color:red">
                      {{ view_data.remaining_bal | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addPayment()"><i class="zmdi zmdi-plus"></i> ADD PAYMENT</button>
        <button type="button" class="btn btn-danger" (click)="modalPayments.hide()"><i class="zmdi zmdi-close"></i> CLOSE</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #modalAddPayment="bs-modal" [config]="{ backdrop: 'static' }" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Add Payment</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <label class="col-sm-12 col-md-4 col-form-label">Amount<span style="color:red">*</span></label>
          <div class="col-sm-12 col-md-8">
              <div class="form-group">
                  <input type="number" id="input_payment_amount" class="form-control" (click)="$event.target.select()" [(ngModel)]="amount" (ngModelChange)="amount= $event" placeholder="0.00" (change)="checkIfExceed()">
                  <div class="valid-feedback">Fully Paid!</div>
                  <i class="form-group__bar"></i>
              </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-12 col-md-4 col-form-label">Payment Method<span style="color:red">*</span></label>
          <div class="col-sm-12 col-md-8">
            <div class="form-group">
              <select class="form-control" [(ngModel)]="mop" (ngModelChange)="mopChange()">
                <option default>CASH</option>
                <option>GCASH</option>
                <option>CARD</option>
                <option>PAYMAYA</option>
                <option>BANK TRANSFER</option>
              </select>
              <i class="form-group__bar"></i>
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-12 col-md-4 col-form-label">Payment Date<span style="color:red">*</span></label>
          <div class="col-sm-12 col-md-8">
            <div class="form-group">
              <input type="datetime-local" placeholder="Pick a date" class="form-control" [(ngModel)]="date">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="savePayment()"><i class="zmdi zmdi-save"></i> SAVE</button>
        <button type="button" class="btn btn-danger" (click)="modalAddPayment.hide()"><i class="zmdi zmdi-close"></i> CANCEL</button>
      </div>
    </div>
  </div>
</div>