<header class="content__title">
  <h1>{{ pageTitle }}</h1>
  <small>{{ widgetSubTitle }}</small>
</header>

<div class="card">
  <div class="toolbar toolbar--inner">
    <div class="toolbar__label">Procedures List</div>

    <div class="actions">
        <i class="actions__item zmdi zmdi-search" (click)="todoSearch = true" tooltip="Search"></i>
        <a [routerLink]="" class="actions__item zmdi zmdi-refresh" (click)="getProcedureList()" tooltip="Refresh list"></a>
        <a [routerLink]="" class="actions__item zmdi zmdi-plus" (click)="addProcedure()" tooltip="Add new procedure"></a>
    </div>

    <div class="toolbar__search" *ngIf="todoSearch">
        <input type="text" placeholder="Search..." [(ngModel)]="searchKey"> 
        <i class="toolbar__search__close zmdi zmdi-long-arrow-left" (click)="todoSearch = false;searchKey='';getProcedureList()" tooltip="Close search box"></i>
        <i class="toolbar__search__search zmdi zmdi-search" (click)="getProcedureList()" tooltip="Search"></i>

    </div>
    
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th rowspan="2">Category</th>
          <th rowspan="2">Procedure Name</th>
          <th rowspan="2">Procedure Description</th>
          <th class="hidden-sm-down" style="horizontal-align : middle;text-align:center;" colspan="3">Commissions</th>
          <th rowspan="2" class="hidden-sm-down">Date Created</th>
        </tr>
        <tr>
          <td scope="col">Dentist</td>
          <td scope="col">Assistant</td>
          <td scope="col">Secretary</td>
          <td></td>
        </tr>
        </thead>
        <tbody>
          <tr *ngIf="procedure_list.length==0">
            <td colspan="6" align="center">
              No record(s) found.
            </td>
          </tr>
          <tr *ngFor="let data of procedure_list" class="hover-edit" (click)="onEdit(data)">
            <td>
              {{ data.category }}
            </td>
            <td>
              {{ data.procedure_name }}
            </td>
            <td>
              {{ data.procedure_desc }}
            </td>
            <td class="hidden-sm-down">
              <span *ngIf="data.commission_type =='percentage'">{{ data.commission_rate }}%</span>
              <span *ngIf="data.commission_type =='fixed'">
                {{ data.commission_rate | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }} 
              </span>
            </td>
            <td class="hidden-sm-down">
              <span *ngIf="data.assistants_type =='percentage'">{{ data.assistants_rate }}%</span>
              <span *ngIf="data.assistants_type =='fixed'">
                {{ data.assistants_rate | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }} 
              </span>
            </td>
            <td class="hidden-sm-down">
              <span *ngIf="data.secretary_type =='percentage'">{{ data.secretary_rate }}%</span>
              <span *ngIf="data.secretary_type =='fixed'">
                {{ data.secretary_rate | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }} 
              </span>
            </td>
            <td class="hidden-sm-down">
              {{ data.date_created }}
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <pagination (pageChanged)="pageChange($event)"
                class="justify-content-center"
                [totalItems]="procedure_total"
                [maxSize]="10"
                [itemsPerPage]="rows" >
              </pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #modalProcedures="bs-modal" [config]="{ backdrop: 'static' }" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5>{{mode == 'add' ? 'Add Procedure' : 'Edit Procedure'}}</h5>
      </div>
      <div class="modal-body">
        <div class="row">
            <label class="col-sm-12 col-md-3 col-form-label">Category<span style="color:red">*</span></label>
            <div class="col-sm-12 col-md-9">
              <div class="form-group">
                <ng-select
                  [items]="procedure_parents_list"
                  bindLabel="procedure_name"
                  placeholder="Select a Category"
                  [(ngModel)]="parent_id"
                  bindValue="id"
                  >
                </ng-select>
              </div>
            </div>
        </div>
        <div class="row">
          <label class="col-sm-12 col-md-3 col-form-label">Procedure name <span style="color:red">*</span></label>
          <div class="col-sm-12 col-md-9">
              <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="procedure_name" placeholder="Procedure name...">
                  <i class="form-group__bar"></i>
              </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-12 col-md-3 col-form-label">Procedure Description</label>
          <div class="col-sm-12 col-md-9">
              <div class="form-group">
                  <textarea class="form-control" [(ngModel)]="procedure_desc" placeholder="Description here..."></textarea>
                  <i class="form-group__bar"></i>
              </div>
          </div>
        </div>
        <div class="row" *ngIf="!haveQuantity">
          <label class="col-sm-12 col-md-3 col-form-label">Dentist rate <span style="color:red">*</span></label>
          <div class="col-sm-12 col-md-5">
              <div class="form-group">
                  <input type="number" class="form-control" [(ngModel)]="commission_rate" placeholder="0.00">
                  <i class="form-group__bar"></i>
              </div>
          </div>
          <div class="col-sm-12 col-md-2">
            <select class="form-control" [(ngModel)]="commission_type">
              <option value="percentage" default>Percentage</option>
              <option value="fixed">Fixed</option>
            </select>
          </div>
          <div class="col-sm-12 col-md-2 p-t-7">
            <div class="checkbox">
              <input type="checkbox" id="dentistCheck" [(ngModel)]="isDentistAllowed">
              <label class="checkbox__label" for="dentistCheck">Enable</label>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!haveQuantity">
          <label class="col-sm-12 col-md-3 col-form-label">Assistants rate <span style="color:red">*</span></label>
          <div class="col-sm-12 col-md-5">
              <div class="form-group">
                  <input type="number" class="form-control" [(ngModel)]="assistants_rate" placeholder="0.00">
                  <i class="form-group__bar"></i>
              </div>
          </div>
          <div class="col-sm-12 col-md-2">
            <select class="form-control" [(ngModel)]="assistants_type">
              <option value="percentage">Percentage</option>
              <option value="fixed" default>Fixed</option>
            </select>
          </div>
          <div class="col-sm-12 col-md-2 p-t-7">
            <div class="checkbox">
              <input type="checkbox" id="assistCheck" [(ngModel)]="isAssistantAllowed">
              <label class="checkbox__label" for="assistCheck">Enable</label>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!haveQuantity">
          <label class="col-sm-12 col-md-3 col-form-label">Secretary rate <span style="color:red">*</span></label>
          <div class="col-sm-12 col-md-5">
              <div class="form-group">
                  <input type="number" class="form-control" [(ngModel)]="secretary_rate" placeholder="0.00">
                  <i class="form-group__bar"></i>
              </div>
          </div>
          <div class="col-sm-12 col-md-2">
            <select class="form-control" [(ngModel)]="secretary_type">
              <option value="percentage">Percentage</option>
              <option value="fixed" default>Fixed</option>
            </select>
          </div>
          <div class="col-sm-12 col-md-2 p-t-7">
            <div class="checkbox">
              <input type="checkbox" id="secretaryCheck" [(ngModel)]="isSecretaryAllowed">
              <label class="checkbox__label" for="secretaryCheck">Enable</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 p-t-7">
            <div class="checkbox">
              <input type="checkbox" id="haveQuantity" [(ngModel)]="haveQuantity" (change)="quantityReqChange()">
              <label class="checkbox__label" for="haveQuantity">Quantity Required</label>
            </div>
          </div>
        </div>
        <br>
        <div class="row" *ngIf="haveQuantity">
          <div class="col-sm-12 col-md-12">
            <div class="toolbar toolbar--inner" style="position: sticky;">
              <div class="toolbar__label">Commissions with quantity requirements</div>
          
              <div class="actions">
                  <a [routerLink]="" class="actions__item zmdi zmdi-plus" (click)="addQtyReq()"></a>
              </div>
  
            </div>
          </div>
          <div class="table-responsive" style="max-height: 400px;">
  
            <table class="table table-hover">
              <thead>
                <tr>
                  <th rowspan="2" style="horizontal-align : middle;text-align:center;vertical-align: middle;">Qty</th>
                  <th colspan="3" style="horizontal-align : middle;text-align:center;" >Commissions</th>
                  <th rowspan="2" style="horizontal-align : middle;text-align:center;vertical-align: middle;"></th>
                </tr>
                <tr>
                  <th scope="col">Dentist</th>
                  <th scope="col">Assistant</th>
                  <th scope="col">Secretary</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="procedure_quantity_req.length ==0">
                  <td colspan="7" align="center">Please click + button to add a record.</td>
                </tr>
                <tr *ngFor="let data_qty_req of procedure_quantity_req;let i = index">
                  <td style="max-width: 80px;">
                    <div class="form-group">
                      <input type="number" class="form-control" [(ngModel)]="data_qty_req.qty" placeholder="0.00">
                      <i class="form-group__bar"></i>
                    </div>
                    
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                          <input type="number" class="form-control" [(ngModel)]="data_qty_req.dentist_rate" placeholder="0.00">
                          <i class="form-group__bar"></i>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-12">
                        <select class="form-control" [(ngModel)]="data_qty_req.dentist_type">
                          <option value="percentage">Percentage</option>
                          <option value="fixed" default>Fixed</option>
                        </select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="col-sm-12 col-md-12">
                      <div class="form-group">
                        <input type="number" class="form-control" [(ngModel)]="data_qty_req.assistant_rate" placeholder="0.00">
                        <i class="form-group__bar"></i>
                      </div>
                    </div>

                    <div class="col-sm-12 col-md-12">
                      <select class="form-control" [(ngModel)]="data_qty_req.assistant_type">
                        <option value="percentage">Percentage</option>
                        <option value="fixed" default>Fixed</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <div class="col-sm-12 col-md-12">
                      <div class="form-group">
                        <input type="number" class="form-control" [(ngModel)]="data_qty_req.secretary_rate" placeholder="0.00">
                        <i class="form-group__bar"></i>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                      <select class="form-control" [(ngModel)]="data_qty_req.secretary_type">
                        <option value="percentage">Percentage</option>
                        <option value="fixed" default>Fixed</option>
                      </select>
                    </div>
                    
                  </td>
                  <td>
                    <a (click)="deleteRowQty(i)"><i class="zmdi zmdi-delete"></i></a>
                  </td>
                </tr>
              </tbody>

            </table>
          <div>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="saveProcedure()"><i class="zmdi zmdi-save"></i> {{mode == 'add' ? 'SAVE' : 'UPDATE'}}</button>
        <button type="button" class="btn btn-danger" (click)="modalProcedures.hide()"><i class="zmdi zmdi-close"></i> CANCEL</button>
      </div>
    </div>
  </div>
</div>