<header class="content__title">
  <h1>{{ pageTitle }}</h1>
  <small>{{ widgetSubTitle }}</small>
</header>

<div class="card">
  <div class="card-body">

    <tabset>
      <tab heading="Daily">
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <label>Date</label>
              <input type="date" placeholder="Pick a date" class="form-control" [(ngModel)]="dailyDateSelected" (change)="getBranches();getDailySales();">
              <i class="form-group__bar"></i>
            </div>
          </div>
        </div>
        <div *ngFor="let data of daily_sales_list;let i = index">
          <h5>{{data.branch_name}}</h5>
          <div class="table-responsive ">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th rowspan="2">Procedure</th>
                  <th rowspan="2">Quantity</th>
                  <th rowspan="2">Price</th>
                  <th rowspan="2">Total Amount</th>
                  <th style="horizontal-align : middle;text-align:center;" colspan="3">Commissions</th>
                  <th rowspan="2">Revenue</th>
                </tr>
                <tr>
                  <td scope="col">Dentist</td>
                  <td scope="col">Assistant</td>
                  <td scope="col">Secretary</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf = "data.details.length==0">
                  <td colspan="8" align="center">No record(s) found.</td>
                </tr>
                <tr *ngFor="let sub of data.details">
                  <td>{{ sub.procedure_name }}</td>
                  <td>{{ sub.qty }}</td>
                  <td>{{ sub.amount | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</td>
                  <td>{{ sub.total_amount | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</td>
                  <td>{{ sub.commission_distributed | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</td>
                  <td>{{ sub.assistants_commission_distributed | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</td>
                  <td>{{ sub.secretary_commission_distributed | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</td>
                  <td><b>{{ sub.company_revenue | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</b></td>
                </tr>
              </tbody>
              <tfoot *ngIf="data.details.length!=0">
                <tr>
                  <td colspan="8">
                    <pagination (pageChanged)="pageChange(data.id,$event,i)"
                      class="justify-content-center"
                      [totalItems]="data.count"
                      [maxSize]="10"
                      [itemsPerPage]="10" >
                    </pagination>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <hr>
          <div>
            <div style="display: flex;justify-content: left;">
              <table width="400px" style="padding-left: 20px;" class="hidden-sm-down">
                <tr>
                  <td>Total Amount:</td><td>{{ data.totals.payments | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</td>
                </tr>
                <tr>
                  <td>Total Expense:</td><td>{{ data.totals.expense | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</td>
                </tr>
                <tr>
                  <td>Grand Total:</td><td>{{ data.totals.payments -  data.totals.expense | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</td>
                </tr>
              </table>

              <table width="400px" style="padding-left: 20px;" class="hidden-sm-down">
                <tr *ngFor="let payment of data.payments">
                  <td>{{ payment.mop }}</td><td>{{ payment.amount | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</td>
                </tr>
              </table>
            </div>

            <table class="table hidden-sm-up">
              <tr>
                <td>Total Amount:</td><td>{{ data.totals.amount | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</td>
              </tr>
              <tr>
                <td>Total Dentist Commission:</td><td>{{ data.totals.commission_distributed | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</td>
              </tr>
              <tr>
                <td>Total Assistant Commission:</td><td>{{ data.totals.assistants_commission_distributed | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</td>
              </tr>
              <tr>
                <td>Total Secretary Commission:</td><td>{{ data.totals.secretary_commission_distributed | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</td>
              </tr>
              <tr>
                <td>Total Company Revenue:</td><td><b>{{ data.totals.company_revenue | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</b></td>
              </tr>
            </table>

            <table class="table hidden-sm-up">
              <tr *ngFor="let payment of data.payments">
                <td>{{ payment.mop }}</td><td>{{ payment.amount | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</td>
              </tr>
            </table>
          </div>
          <br><br>
        </div>
      </tab>
    </tabset>


  </div>
</div>