<header class="content__title">
  <h1>{{ pageTitle }}</h1>
  <small>{{ widgetSubTitle }}</small>
</header>

<div class="card">
  <div class="toolbar toolbar--inner">
    <div class="toolbar__label">Expenses Category List</div>

    <div class="actions">
        <i class="actions__item zmdi zmdi-search" (click)="todoSearch = true"></i>
        <a [routerLink]="" class="actions__item zmdi zmdi-refresh" (click)="getExpenseCategories()" tooltip="Refresh list"></a>
        <a [routerLink]="" class="actions__item zmdi zmdi-plus" (click)="addExpenseCategory()" tooltip="Add new expense category"></a>
    </div>

    <div class="toolbar__search" *ngIf="todoSearch">
        <input type="text" placeholder="Search..." [(ngModel)]="searchKey"> 
        <i class="toolbar__search__close zmdi zmdi-long-arrow-left" (click)="todoSearch = false;searchKey='';getExpenseCategories()" tooltip="Close search box"></i>
        <i class="toolbar__search__search zmdi zmdi-search" (click)="getExpenseCategories()" tooltip="Search"></i>

    </div>
    
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Category Name</th>
          <th>Is Active</th>
          <th>Date Created</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngIf="expense_categories_list.length==0">
            <td colspan="3" align="center">No record(s) found.</td>
          </tr>
          <tr *ngFor="let data of expense_categories_list" class="hover-edit" (click)="onEdit(data)">
            <td>{{ data.expense_category_name }}</td>
            <td>
              <i class="zmdi zmdi-check" *ngIf="data.is_active"></i>
              <i class="zmdi zmdi-close" *ngIf="!data.is_active"></i>
            </td>
            <td>
              {{data.date_created}}
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <pagination (pageChanged)="pageChange($event)"
                class="justify-content-center"
                [totalItems]="expense_categories_total"
                [maxSize]="10"
                [itemsPerPage]="rows" >
              </pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>


<div class="modal fade" bsModal #modalExpenseCategory="bs-modal" [config]="{ backdrop: 'static' }" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5>{{mode == 'add' ? 'New Expenses Category' : 'Edit Expense Category'}}</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <label class="col-sm-12 col-md-4 col-form-label">Expense Category</label>
          <div class="col-sm-12 col-md-8">
              <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="expenseCategoryName" placeholder="Enter Expense Category...">
                  <i class="form-group__bar"></i>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-4"></div>
          <div class="col-sm-12 col-md-8">
            <div class="checkbox checkbox--inline">
              <input type="checkbox" id="customCheck4" [(ngModel)]="isActive">
              <label class="checkbox__label" for="customCheck4">Is Active</label>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="saveExpenseCategory()"><i class="zmdi zmdi-save"></i> {{mode == 'add' ? 'SAVE' : 'UPDATE'}}</button>
        <button type="button" class="btn btn-danger" (click)="modalExpenseCategory.hide()"><i class="zmdi zmdi-close"></i> CANCEL</button>
      </div>
    </div>
  </div>
</div>