<header class="content__title">
  <h1>{{ pageTitle }}</h1>
  <small>{{ widgetSubTitle }}</small>
</header>


<div class="card">
  <div class="toolbar toolbar--inner">
    <div class="toolbar__label">Users List</div>

    <div class="actions">
        <i class="actions__item zmdi zmdi-search" (click)="todoSearch = true" tooltip="Search"></i>
        <a [routerLink]="" class="actions__item zmdi zmdi-refresh" (click)="getUserList()" tooltip="Refresh list"></a>
        <a [routerLink]="" class="actions__item zmdi zmdi-plus" (click)="showModal()" tooltip="Add"></a>
    </div>

    <div class="toolbar__search" *ngIf="todoSearch">
        <input type="text" placeholder="Search..." [(ngModel)]="searchKey"> 
        <i class="toolbar__search__close zmdi zmdi-long-arrow-left" (click)="todoSearch = false;searchKey='';getProcedureList()" tooltip="Close search box"></i>
        <i class="toolbar__search__search zmdi zmdi-search" (click)="getProcedureList()" tooltip="Search"></i>

    </div>
    
  </div>
  <div class="card-body d-none d-sm-block">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th width="60px"></th>
          <th>Fullname</th>
          <th>Role</th>
          <th>Branch name</th>
          <th>Date Created</th>

        </tr>
        </thead>
        <tbody>
          <tr *ngIf="users_list.length == 0">
            <td colspan="5" align="center">No record(s) found.</td>

          </tr>
          <tr *ngFor="let data of users_list">
            <th scope="row">
              
              <div class="btn-demo">
                <!-- <button type="button" class="btn btn-primary w-100" [routerLink]="['logs',data.id]"><i class="zmdi zmdi-eye"></i> View</button> -->
                <button type="button" class="btn btn-success w-100" (click)="editUser(data)"><i class="zmdi zmdi-edit"></i></button>
                <!-- <button type="button" class="btn btn-danger w-100" (click)="setUserAsInactive(data)"><i class="zmdi zmdi-delete"></i></button> -->
              </div>

            </th>
            <td>{{ data.fullName }}</td>
            <td>{{ data.role_name }}</td>
            <td>{{ data.branch_name }}</td>
            <td>{{ data.date_created }}</td>
          </tr>
        </tbody>
        <tfoot *ngIf="users_list.length!=0">
          <tr>
            <td colspan="4">
              <pagination (pageChanged)="pageChange($event)"
                [totalItems]="users_count"
                [maxSize]="10"
                [itemsPerPage]="rows" >
              </pagination>
            </td>
            <td align="right">
              {{((page-1)*rows)+1 | number : '1.0-0'}} of {{users_count | number : '1.0-0'}}
            </td>
          </tr>
        </tfoot>
        
      </table>
    </div>
  </div>
  <div class="card-body d-block d-sm-none">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th width="40px"></th>
            <th>User Info</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="users_list.length == 0">
            <td colspan="2" align="center">No record(s) found.</td>
          </tr>
          <tr *ngFor="let data of users_list">
            <td width="40px">
              <div class="btn-demo">
                <button type="button" class="btn btn-primary w-100" [routerLink]="['logs',data.id]"><i class="zmdi zmdi-eye"></i> View</button>
                <button type="button" class="btn btn-success w-100" (click)="editUser(data)"><i class="zmdi zmdi-edit"></i> Edit</button>
                <button type="button" class="btn btn-danger w-100" (click)="setUserAsInactive(data)"><i class="zmdi zmdi-delete"></i> Delete</button>
              </div>
            </td>
            <td>
              <strong>{{ data.fullName }}</strong> <br>
              <small>{{ data.role_name }}</small> <br>
              <small>{{ data.branch_name }}</small> <br>
              <small>{{ data.date_created }}</small> <br>

            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="users_list.length!=0">
          <tr>
            <td>
              <pagination (pageChanged)="pageChange($event)"
                [totalItems]="users_count"
                [maxSize]="10"
                [itemsPerPage]="rows" >
              </pagination>
            </td>
            <td align="right">
              {{((page-1)*rows)+1 | number : '1.0-0'}} of {{users_count | number : '1.0-0'}}
            </td>
          </tr>
        </tfoot>
        
      </table>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #modalUsers="bs-modal" [config]="{ backdrop: 'static' }" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5>{{modeModal == 'add' ? 'Add User' : 'Edit User'}}</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <label class="col-sm-12 col-md-3 col-form-label">Username <span style="color:red">*</span></label>
          <div class="col-sm-12 col-md-9">
              <div class="form-group">
                  <input name="input_fight_no" type="text" class="form-control" [(ngModel)]="username" placeholder="e.g: juandelacruz21">
                  <i class="form-group__bar"></i>
              </div>
          </div>
        </div>
        <!-- <div class="row">
          <label class="col-sm-12 col-md-3 col-form-label">Email</label>
          <div class="col-sm-12 col-md-9">
              <div class="form-group">
                  <input name="input_fight_no" type="text" class="form-control" [(ngModel)]="email" placeholder="e.g: juandelacruz@gmail.com">
                  <i class="form-group__bar"></i>
              </div>
          </div>
        </div> -->
        <div class="row">
          <label class="col-sm-12 col-md-3 col-form-label">First Name <span style="color:red">*</span></label>
          <div class="col-sm-12 col-md-9">
              <div class="form-group">
                  <input name="input_fight_no" type="text" class="form-control" [(ngModel)]="fname" placeholder="e.g: Juan">
                  <i class="form-group__bar"></i>
              </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-12 col-md-3 col-form-label">Middle Name</label>
          <div class="col-sm-12 col-md-9">
              <div class="form-group">
                  <input name="input_fight_no" type="text" class="form-control" [(ngModel)]="mname" placeholder="e.g: Santos">
                  <i class="form-group__bar"></i>
              </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-12 col-md-3 col-form-label">Last Name <span style="color:red">*</span></label>
          <div class="col-sm-12 col-md-9">
              <div class="form-group">
                  <input name="input_fight_no" type="text" class="form-control" [(ngModel)]="lname" placeholder="e.g: Dela Cruz">
                  <i class="form-group__bar"></i>
              </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-12 col-md-3 col-form-label">Roles <span style="color:red">*</span></label>
          <div class="col-sm-12 col-md-9">
            <div class="form-group">
              <ng-select
                [items]="roles_list"
                bindLabel="role_name"
                placeholder="Select a Role"
                [(ngModel)]="role_selected">
              </ng-select>
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-12 col-md-3 col-form-label">Branch <span style="color:red">*</span></label>
          <div class="col-sm-12 col-md-9">
            <div class="form-group">
              <ng-select
                [items]="branches_lookup"
                bindLabel="branch_name"
                placeholder="Select a Branch"
                [(ngModel)]="branch_selected">
              </ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="save()"><i class="zmdi zmdi-save"></i> SAVE</button>
        <button type="button" class="btn btn-danger" (click)="modalUsers.hide()"><i class="zmdi zmdi-close"></i> CANCEL</button>
      </div>
    </div>
  </div>
</div>
