<header class="content__title">
  <h1>{{ pageTitle }}</h1>
  <small>{{ widgetSubTitle }}</small>
</header>

<div class="card">
  <div class="card-body">

    <tabset>
      <tab heading="Dentists">
        <div class="table-responsive " style="overflow-x: scroll;">
          <table class="table table-striped">
            <thead>
              <tr>
                <th style="min-width: 200px !important;position: sticky !important;left:0;background-color: #fff;">Dentist name</th>
                <th *ngFor="let date of cutoff_dates" style="min-width: 170px !important;">
                  {{ date.display}} 
                </th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let doctor of doctors_list">
                  <td style="min-width: 200px !important;position: sticky !important;left:0;background-color: #fff;">{{ doctor.fullname }}</td>
                  <td *ngFor="let commission of doctor.commissions">{{ commission | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</td>
                </tr>
              </tbody>
          </table>
        </div>
      </tab>
      <tab heading="Assistants">
        <div class="table-responsive " style="overflow-x: scroll;">
          <table class="table table-striped">
            <thead>
              <tr>
                <th style="min-width: 200px !important;position: sticky !important;left:0;background-color: #fff;">Assistant name</th>
                <th *ngFor="let date of cutoff_dates" style="min-width: 170px !important;">
                  {{ date.display}} 
                </th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let assistant of assistant_list">
                  <td style="min-width: 200px !important;position: sticky !important;left:0;background-color: #fff;">{{ assistant.fullname }}</td>
                  <td *ngFor="let commission of assistant.commissions">{{ commission | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</td>
                </tr>
              </tbody>
          </table>
        </div>
      </tab>
      <tab heading="Secretaries">
        <div class="table-responsive " style="overflow-x: scroll;">
          <table class="table table-striped">
            <thead>
              <tr>
                <th style="min-width: 200px !important;position: sticky !important;left:0;background-color: #fff;">Secretary name</th>
                <th *ngFor="let date of cutoff_dates" style="min-width: 170px !important;">
                  {{ date.display}} 
                </th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let secretary of secretary_list">
                  <td style="min-width: 200px !important;position: sticky !important;left:0;background-color: #fff;">{{ secretary.fullname }}</td>
                  <td *ngFor="let commission of secretary.commissions">{{ commission | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</td>
                </tr>
              </tbody>
          </table>
        </div>
      </tab>
    </tabset>


  </div>
</div>