<p>settings works!</p>

<input type="text" [(ngModel)]="textbox" />
<input type="text" [(ngModel)]="textbox1" />

<table class="table table-striped table-bordered">
  <tr *ngFor="let data of arr">
    <td>{{ data.full_name }}</td>
  </tr>
</table>

<button class="btn btn-danger" (click)="sample()">click me</button>
