<div class="card">
  <div class="card-body">
    <div class="table-responsive ">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Patient</th>
          <th>Procedure</th>
          <th>Amount</th>
          <th>Date</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngIf="commission_list.length==0">
            <td align="center" colspan="4">No record(s) found.</td>
          </tr>
          <tr *ngFor="let data of commission_list">
            <td>
              {{ data.patient_name }}
            </td>
            <td>
              {{ data.procedure_name }}
            </td>
            <td>
              {{ data.amount | currency: 'PHP' : 'symbol-narrow' : '1.2-2'  }}
            </td>
            <td>
              {{ data.covered_date }}
            </td>
          </tr>
        </tbody>
        
      </table>
    </div>
  </div>
</div>