<section class="error">
  <div class="error__inner">
    <h1>404</h1>
    <h2>The page you were looking for doesn't exist!</h2>
    <button class="btn btn-primary" [routerLink]="['']">Back to Home</button>
  </div>
</section>