<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Procedure</th>
          <th>Dentist</th>
          <th>Amount</th>
          <th>Quantity</th>
          <th>Mode of Payment</th>
          <th>Total Price</th>
          <th>Date</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngIf="patient_transaction_details.length == 0">
            <td colspan="6" align="center">No record(s) found.</td>
          </tr>
          <tr *ngFor="let data of patient_transaction_details">
            <td>{{ data.procedure_name }}</td>
            <td>{{ data.dentist }}</td>
            <td>{{ data.amount }}</td>
            <td>{{ data.qty }}</td>
            <td>{{ data.mop }}</td>
            <td>{{ data.total_price | currency: 'PHP' : 'symbol-narrow' : '1.2-2' }}</td>
            <td>{{ data.covered_date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>