<header class="content__title">
  <h1>{{ pageTitle }}</h1>
  <small>{{ widgetSubTitle }}</small>
</header>


<div class="card">
  <div class="toolbar toolbar--inner">
    <div class="toolbar__label">Pending List</div>

    <div class="actions">
        <!-- <i class="actions__item zmdi zmdi-search" (click)="todoSearch = true"></i> -->
        <a [routerLink]="" class="actions__item zmdi zmdi-refresh" (click)="getPendingTransactions()" tooltip="Refresh list"></a>
    </div>

    <div class="toolbar__search" *ngIf="todoSearch">
        <input type="text" placeholder="Search..." [(ngModel)]="searchKey"> 
        <i class="toolbar__search__close zmdi zmdi-long-arrow-left" (click)="todoSearch = false;searchKey='';getAssistants()" tooltip="Close search box"></i>
        <i class="toolbar__search__search zmdi zmdi-search" (click)="getAssistants()" tooltip="Search"></i>

    </div>
    
  </div>
  <div class="card-body">
    <div class="table-responsive ">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Branch</th>
            <th>Patient</th>
            <th>Dentist</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="pending_transactions_list.length ==0">
            <td align="center" colspan="7">No record(s) found.</td>
          </tr>
          <tr *ngFor = "let data of pending_transactions_list">
            <td style="max-width: 100px;">
              <div class="btn-demo">
                <button class="btn btn-primary w-100" (click)="markAsDone(data)">
                  Mark as Done
                </button>
                <button class="btn btn-success w-100" (click)="rescheduleTransaction(data)">
                  Re-schedule
                </button>
              </div>
            </td>
            <td>{{ data.branch_name }}</td>
            <td>{{ data.patient_name }}</td>
            <td>{{ data.dentist_name }}</td>
            <td>{{ data.amount | currency: 'PHP' : 'symbol-narrow' : '1.2-2'  }}</td>
            <td>{{ data.covered_date_formatted }}</td>
            <td>
              <span class="badge badge-warning" *ngIf="data.proc_status=='pending'">PENDING</span>
              <span class="badge badge-success" *ngIf="data.proc_status=='paid-pending'">PAID</span>
              <span class="badge badge-danger" *ngIf="data.proc_status=='voided'">VOIDED</span>

            </td>

          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7">
              <pagination (pageChanged)="pageChange($event)"
                class="justify-content-center"
                [totalItems]="pending_transaction_total"
                [maxSize]="10"
                [itemsPerPage]="rows" >
              </pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #modalReschedule="bs-modal" [config]="{ backdrop: 'static' }" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Re-schedule</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <label class="col-sm-12 col-md-3 col-form-label">Date<span style="color:red">*</span></label>
          <div class="col-sm-12 col-md-9">
            <div class="form-group">
              <input type="datetime-local" class="form-control" [(ngModel)]="date" (ngModelChange)="date = $event">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="updateSchedule()"><i class="zmdi zmdi-save"></i> UPDATE</button>
        <button type="button" class="btn btn-danger" (click)="modalReschedule.hide()"><i class="zmdi zmdi-close"></i> CANCEL</button>
      </div>
    </div>
  </div>
</div>