<div class="card">
  <div class="card-header">
    <h4 class="card-title">{{chartTitle}}</h4>
  </div>
  <div class="card-body">
    <div class="row" *ngIf="data?.series_length !=0">
      <div class="col">
        <x-chartist
        [type]="type"
        [data]="data"
        [options]="options"
        class="chart-pie"
    >
    </x-chartist>
      </div>
    </div>
    <div class="row" *ngIf="data?.series_length ==0">
      <div class="col text-center">
        No Record(s) to Display.
      </div>
    </div>
  </div>
</div>