.login-header-custom {
    padding: 1.5rem;
    margin-top: -2.4rem;
    position: relative;
    color: #FFFFFF;
    border-radius: 2px;
    display: flex;
    justify-content: center;

    img{
        width: 300px !important;
        height: 300px !important;
    }
}

.login {
    background-color: #2196F3 !important;
}
