<div class="content__inner">
    <header class="content__title">
      <h1>{{ patient_info?.fullname }}</h1>
      <small>Patient</small>

      <div class="actions">
        <a [routerLink]="" class="actions__item zmdi zmdi-upload" tooltip="Upload Images" (click)="uploadPatientImg()"></a>
        <a [routerLink]="['/admin/patients/list']" class="actions__item zmdi zmdi-arrow-left" tooltip="Back"></a>
      </div>
      <input class="form-control" type="file" id="uploadItemAttachment" class="hidden"
      (change)="handleFileUploadItem($event)" accept="image/png, image/gif, image/jpeg">
    </header>
  
    <div class="card profile">
      <div class="profile__img">
        <img src="../../../../assets/img/avatar/Blank-Avatar.png" alt="" *ngIf="patient_info?.profile_img==''">
        <img [src]="patient_info?.profile_img" alt="" *ngIf="patient_info?.profile_img!=''">

        <a [routerLink]="" class="zmdi zmdi-camera profile__img__edit" (click)="uploadProfileAttachment()"></a>


      </div>

  
      <div class="profile__info">
        <input class="form-control" type="file" id="uploadProfileAttachment" class="hidden"
        (change)="handleProfileFileUploadItem($event)" accept="image/png, image/gif, image/jpeg">
        <p>{{ patient_info?.fullname }}</p>
  
        <ul class="icon-list">
          <li><i class="zmdi zmdi-phone"></i> {{patient_info?.info.contact_no}}</li>
          <li><i class="zmdi zmdi-email"></i> {{patient_info?.info.email}}</li>
          <li><i class="zmdi zmdi-pin"></i> {{patient_info?.info.address}}</li>
        </ul>
      </div>
    </div>
  
    <div class="toolbar m-b-0">
      <nav class="toolbar__nav">
        <a routerLinkActive="active" [routerLink]="['about']">About</a>
        <a routerLinkActive="active" [routerLink]="['pictures']">Pictures</a>
        <a routerLinkActive="active" [routerLink]="['transactions']">Transactions</a>

      </nav>
  
      <div class="actions">
        <i class="actions__item zmdi zmdi-search" (click)="profileSearch = true"></i>
      </div>
  
      <div *ngIf="profileSearch" class="toolbar__search">
        <input type="text" placeholder="Search...">
        <i class="toolbar__search__close zmdi zmdi-long-arrow-left" (click)="profileSearch = false"></i>
      </div>
    </div>
  
    <router-outlet></router-outlet>
  </div>