<header class="content__title">
  <h1>{{ pageTitle }}</h1>
  <small>{{ widgetSubTitle }}</small>
</header>


<div class="card">
  <div class="toolbar toolbar--inner">
    <div class="toolbar__label">Dentist List</div>

    <div class="actions">
        <i class="actions__item zmdi zmdi-search" (click)="todoSearch = true"></i>
        <a [routerLink]="" class="actions__item zmdi zmdi-refresh" (click)="getDoctorsList()" tooltip="Refresh list"></a>
        <a [routerLink]="" class="actions__item zmdi zmdi-plus" (click)="addDoctor()" tooltip="New"></a>
    </div>

    <div class="toolbar__search" *ngIf="todoSearch">
        <input type="text" placeholder="Search..." [(ngModel)]="searchKey"> 
        <i class="toolbar__search__close zmdi zmdi-long-arrow-left" (click)="todoSearch = false;searchKey='';getDoctorsList()" tooltip="Close search box"></i>
        <i class="toolbar__search__search zmdi zmdi-search" (click)="getDoctorsList()" tooltip="Search"></i>

    </div>
    
  </div>
  <div class="card-body">
    <div class="table-responsive ">
      <table class="table table-striped">
        <thead>
          <tr>
            <th width="150px"></th>
            <th>Fullname</th>
            <th>Rank</th>
            <th>Branch</th>
            <th>Is Active</th>
            <th>Date Created</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="dentist_list.length==0">
            <td align="center" colspan="4"> No record(s) found.</td>
          </tr>
          <tr *ngFor="let data of dentist_list" class="hover-edit" > 
            <td>
              <div class="btn-demo">
                <button class="btn btn-success" (click)="editDentist(data)"><i class="zmdi zmdi-edit"></i></button>
                <button class="btn btn-primary" [routerLink]="['/admin/dentist',data.id]"><i class="zmdi zmdi-eye"></i></button>
              </div>
            </td>
            <td>
              {{ data.fullname }}
            </td>
            <td>
              {{ data.rank_name }}
            </td>
            <td>
              {{ data.branch_name }}
            </td>
            <td>
              <i class="zmdi zmdi-check c-success" *ngIf="data.is_active"></i>
              <i class="zmdi zmdi-close c-danger" *ngIf="!data.is_active"></i>
            </td>
            <td>
              {{ data.created_by }} <br>
              {{ data.date_created }}
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="dentist_list.length!=0">
          <tr>
            <td colspan="6">
              <pagination (pageChanged)="pageChange($event)"
                class="justify-content-center"
                [totalItems]="total_count"
                [maxSize]="10"
                [itemsPerPage]="row" >
              </pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>


<div class="modal fade" bsModal #modalDoctor="bs-modal" [config]="{ backdrop: 'static' }" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5>{{mode == 'add' ? 'Add Dentist' : 'Edit Dentist'}}</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="form-group">
              <label>Branch<span style="color:red">*</span></label>
              <ng-select
                [items]="branch_list"
                bindLabel="branch_name"
                placeholder="Select a Branch"
                [(ngModel)]="branch"
                bindValue="id"
                >
              </ng-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="form-group">
              <label>Rank<span style="color:red">*</span></label>
              <ng-select
                [items]="ranks_list"
                bindLabel="rank_name"
                placeholder="Select a Rank"
                [(ngModel)]="rank"
                bindValue="id"
                >
              </ng-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
              <div class="form-group">
                  <label>First name<span style="color:red">*</span></label>
                  <input type="text" class="form-control" [(ngModel)]="fname" placeholder="First name..." id="">
                  <i class="form-group__bar"></i>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
              <div class="form-group">
                  <label>Middle name(Optional)</label>
                  <input type="text" class="form-control" [(ngModel)]="mname" placeholder="Middle name...">
                  <i class="form-group__bar"></i>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
              <div class="form-group">
                  <label>Last name<span style="color:red">*</span></label>
                  <input type="text" class="form-control" [(ngModel)]="lname" placeholder="Last name...">
                  <i class="form-group__bar"></i>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="checkbox checkbox--inline">
              <input type="checkbox" id="customCheck4" [(ngModel)]="isActive">
              <label class="checkbox__label" for="customCheck4">Is Active</label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="saveDentist()"><i class="zmdi zmdi-save"></i> {{mode == 'add' ? 'SAVE' : 'UPDATE'}}</button>
        <button type="button" class="btn btn-danger" (click)="modalDoctor.hide()"><i class="zmdi zmdi-close"></i> CANCEL</button>
      </div>
    </div>
  </div>
</div>