<header class="content__title">
  <h1>{{ pageTitle }}</h1>
  <small>{{ widgetSubTitle }}</small>

  <div class="actions actions">
    <div class="btn-demo">
      <button class="btn btn-primary btn--icon-text" (click)="addSize()"><i class="zmdi zmdi-plus"></i> Add New</button>
      <button class="btn btn-success btn--icon-text"  (click)="getSizes()"><i class="zmdi zmdi-refresh"></i> Refresh</button>
    </div>
  </div>
</header>


<div class="card">
  <div class="card-body">
    <div class="table-responsive ">
      <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
          <th width="110px"></th>
          <th>Size Code</th>
          <th>Size Name</th>

        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of sizes_list">
            <td>
              <div class="btn-demo">
                <button type="button" class="btn btn-success"  (click)="editSize(item)"><i class="zmdi zmdi-edit"></i> Edit</button>
              </div>
            </td>
            <td>{{ item.size_code }}</td>
            <td>{{ item.size_name }}</td>
          </tr>
        </tbody>
        <tfoot *ngIf="sizes_list.length!=0">
          <tr>
            <td colspan="2">
              <pagination (pageChanged)="pageChange($event)"
                [totalItems]="sizes_count"
                [maxSize]="10"
                [itemsPerPage]="rows" >
              </pagination>
            </td>
            <td align="right">
              {{((page-1)*rows)+1 | number : '1.0-0'}} of {{sizes_count | number : '1.0-0'}}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #modalSize="bs-modal" [config]="{ backdrop: 'static' }" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5>{{mode == 'add' ? 'Add Size' : 'Edit Size'}}</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <label class="col-sm-12 col-md-3 col-form-label">Code<span style="color:red">*</span></label>
          <div class="col-sm-12 col-md-9">
              <div class="form-group">
                  <input name="input_fight_no" type="text" class="form-control" [(ngModel)]="size_code" placeholder="">
                  <i class="form-group__bar"></i>
              </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-12 col-md-3 col-form-label">Name<span style="color:red">*</span></label>
          <div class="col-sm-12 col-md-9">
              <div class="form-group">
                  <input name="input_fight_no" type="text" class="form-control" [(ngModel)]="size_name" placeholder="">
                  <i class="form-group__bar"></i>
              </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="saveSize()"><i class="zmdi zmdi-save"></i> {{mode == 'add' ? 'SAVE' : 'UPDATE'}}</button>
        <button type="button" class="btn btn-danger" (click)="modalSize.hide()"><i class="zmdi zmdi-close"></i> CANCEL</button>
      </div>
    </div>
  </div>
</div>