<div class="user">
    <div class="user__info" (click)="userMenu = !userMenu" [class.active]="userMenu">
        <img class="user__img" src="./assets/demo/img/profile-pics/585e4bf3cb11b227491c339a.png" alt="">
        <div class="user__name">{{userInfo?.fullName}}</div>
        <div class="user__email">{{userInfo?.role_name}}</div>
    </div>

    <div *ngIf="userMenu" [@toggleUserMenu]="userMenu" class="user__menu">
        <a (click)="onUserLogout()">Logout</a>
    </div>
</div>