<header class="content__title">
  <h1>{{ pageTitle }}</h1>
  <small>{{ widgetSubTitle }}</small>
</header>

<div class="card">
  <div class="toolbar toolbar--inner">
    <div class="toolbar__label">Procedures List</div>

    <div class="actions">
        <i class="actions__item zmdi zmdi-search" (click)="todoSearch = true" tooltip="Search"></i>
        <a [routerLink]="" class="actions__item zmdi zmdi-refresh" (click)="getCategories()" tooltip="Refresh list"></a>
        <a [routerLink]="" class="actions__item zmdi zmdi-plus" (click)="addCategory()" tooltip="Add"></a>
    </div>

    <div class="toolbar__search" *ngIf="todoSearch">
        <input type="text" placeholder="Search..." [(ngModel)]="searchKey"> 
        <i class="toolbar__search__close zmdi zmdi-long-arrow-left" (click)="todoSearch = false;searchKey='';getCategories()" tooltip="Close search box"></i>
        <i class="toolbar__search__search zmdi zmdi-search" (click)="getCategories()" tooltip="Search"></i>

    </div>
    
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Category</th>
            <th>Category Description</th>
            <th>Date Created</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let data of category_list" (click)="editCategory(data)" class="hover-edit">
            <td>{{data.procedure_name}}</td>
            <td>{{data.procedure_desc}}</td>
            <td>{{data.date_created}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <pagination (pageChanged)="pageChange($event)"
                class="justify-content-center"
                [totalItems]="category_total"
                [maxSize]="10"
                [itemsPerPage]="rows" >
              </pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #modalCategory="bs-modal" [config]="{ backdrop: 'static' }" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5>{{mode == 'add' ? 'Add Category' : 'Edit Category'}}</h5>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="form-group">
              <label>Category name<span style="color:red">*</span></label>
              <input type="text" class="form-control" placeholder="..." [(ngModel)]="category_name">
              <i class="form-group__bar"></i>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="form-group">
              <label>Category Description</label>
              <textarea [(ngModel)]="category_desc" placeholder="..." class="form-control"></textarea>
              <i class="form-group__bar"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="saveCategory()"><i class="zmdi zmdi-save"></i> {{mode == 'add' ? 'SAVE' : 'UPDATE'}}</button>
        <button type="button" class="btn btn-danger" (click)="modalCategory.hide()"><i class="zmdi zmdi-close"></i> CANCEL</button>
      </div>
    </div>
  </div>
</div>