<header class="content__title">
  <h1>{{ pageTitle }}</h1>
  <small>{{ widgetSubTitle }}</small>

  <div class="actions actions">

    <div class="btn-demo">
      <button class="btn btn-primary btn--icon-text" (click)="addBranch()"><i class="zmdi zmdi-plus"></i> Add New</button>
      <button class="btn btn-success btn--icon-text"  (click)="getBranches()"><i class="zmdi zmdi-refresh"></i> Refresh</button>
    </div>
  </div>
</header>

<div class="card">
  <div class="card-body d-none d-sm-block">
    <div class="table-responsive ">
      <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
          <th width="150px"></th>
          <th>Branch name</th>
          <th>Location</th>
          <th>Contact No</th>
          <th>Date Created</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of branches_list">
            <td>
              <div class="btn-demo">
                <button type="button" class="btn btn-success w-100" (click)="editBranch(data)"><i class="zmdi zmdi-edit"></i> Edit</button>
              </div>
            </td>
            <td>{{ data.branch_name }}</td>
            <td>{{ data.location }}</td>
            <td>{{ data.contact_no }}</td>
            <td>{{ data.date_created }}</td>
          </tr>
        </tbody>
        <tfoot *ngIf="branches_list.length!=0">
          <tr>
            <td colspan="4">
              <pagination (pageChanged)="pageChange($event)"
                [totalItems]="branches_count"
                [maxSize]="10"
                [itemsPerPage]="rows" >
              </pagination>
            </td>
            <td align="right">
              {{((page-1)*rows)+1 | number : '1.0-0'}} of {{branches_count | number : '1.0-0'}}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="card-body d-block d-sm-none">
    <div class="table-responsive ">
      <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
          <th width="190px"></th>
          <th>Branch name</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of branches_list">
            <td>
              <div class="btn-demo">
                <button type="button" class="btn btn-success" (click)="editBranch(data)"><i class="zmdi zmdi-edit"></i> Edit</button>
              </div>
            </td>
            <td>
              {{ data.branch_name }}
              <small>{{ data.location }}</small>
              <small>{{ data.contact_no }}</small>
              <small>{{ data.date_created }}</small>
            </td>
  
          </tr>
        </tbody>
        <tfoot *ngIf="branches_list.length!=0">
          <tr>
            <td>
              <pagination (pageChanged)="pageChange($event)"
                [totalItems]="branches_count"
                [maxSize]="10"
                [itemsPerPage]="rows" >
              </pagination>
            </td>
            <td align="right">
              {{((page-1)*rows)+1 | number : '1.0-0'}} of {{branches_count | number : '1.0-0'}}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #modalBranch="bs-modal" [config]="{ backdrop: 'static' }" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5>{{mode == 'add' ? 'Add Branch' : 'Edit Branch'}}</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <label class="col-sm-12 col-md-3 col-form-label">Code<span style="color:red">*</span></label>
          <div class="col-sm-12 col-md-9">
              <div class="form-group">
                  <input name="input_fight_no" type="text" class="form-control" [(ngModel)]="branch_code" placeholder="">
                  <i class="form-group__bar"></i>
              </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-12 col-md-3 col-form-label">Name<span style="color:red">*</span></label>
          <div class="col-sm-12 col-md-9">
              <div class="form-group">
                  <input name="input_fight_no" type="text" class="form-control" [(ngModel)]="branch_name" placeholder="">
                  <i class="form-group__bar"></i>
              </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-12 col-md-3 col-form-label">Location</label>
          <div class="col-sm-12 col-md-9">
              <div class="form-group">
                  <input name="input_fight_no" type="text" class="form-control" [(ngModel)]="location" placeholder="">
                  <i class="form-group__bar"></i>
              </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-12 col-md-3 col-form-label">Contact No</label>
          <div class="col-sm-12 col-md-9">
              <div class="form-group">
                  <input name="input_fight_no" type="text" class="form-control" [(ngModel)]="contact_no" placeholder="">
                  <i class="form-group__bar"></i>
              </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-12 col-md-3 col-form-label">Address</label>
          <div class="col-sm-12 col-md-9">
              <div class="form-group">
                <textarea [(ngModel)]="address" class="form-control" ></textarea>
                <i class="form-group__bar"></i>
              </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="saveBranch()"><i class="zmdi zmdi-save"></i> {{mode == 'add' ? 'SAVE' : 'UPDATE'}}</button>
        <button type="button" class="btn btn-danger" (click)="modalBranch.hide()"><i class="zmdi zmdi-close"></i> CANCEL</button>
      </div>
    </div>
  </div>
</div>
