<header class="content__title">
  <h1>{{ pageTitle }}</h1>
  <small>{{ widgetSubTitle }}</small>

</header>

<div class="card">
  <div class="toolbar toolbar--inner">
    <div class="toolbar__label">Ranks List</div>

    <div class="actions">
        <!-- <i class="actions__item zmdi zmdi-search" (click)="todoSearch = true"></i> -->
        <a [routerLink]="" class="actions__item zmdi zmdi-refresh" (click)="getRanks()" tooltip="Refresh list"></a>
        <a [routerLink]="" class="actions__item zmdi zmdi-plus" (click)="addRank()" tooltip="New"></a>
    </div>

    <div class="toolbar__search" *ngIf="todoSearch">
        <input type="text" placeholder="Search..." [(ngModel)]="searchKey"> 
        <i class="toolbar__search__close zmdi zmdi-long-arrow-left" (click)="todoSearch = false;searchKey='';getDoctorsList()" tooltip="Close search box"></i>
        <i class="toolbar__search__search zmdi zmdi-search" (click)="getDoctorsList()" tooltip="Search"></i>

    </div>
    
  </div>
  <div class="card-body">
    <div class="table-responsive ">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Rank name</th>
            <th>Special Commissions</th>
            <th>Is Active</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let data of rank_list" (click)="editRank(data)" class="hover-edit">
            <td>{{ data.rank_name }}</td>
            <td>
              <span *ngFor="let sub of data.procedure">
                {{ sub.procedure_name }}(<span *ngIf="sub.commission_type=='fixed'">₱</span>{{ sub.commission_rate }}<span *ngIf="sub.commission_type=='percentage'">%</span>) <br>
              </span>
            </td>
            <td>
              <i class="zmdi zmdi-check c-success" *ngIf="data.is_active"></i>
              <i class="zmdi zmdi-close c-danger" *ngIf="!data.is_active"></i>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <pagination (pageChanged)="pageChange($event)"
                class="justify-content-center"
                [totalItems]="total"
                [maxSize]="10"
                [itemsPerPage]="rows" >
              </pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #modalRanks="bs-modal" [config]="{ backdrop: 'static' }" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5>{{mode == 'add' ? 'Add Rank' : 'Edit Rank'}}</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-md-12">
              <div class="form-group">
                  <label>Rank name<span style="color:red">*</span></label>
                  <input type="text" class="form-control" [(ngModel)]="rank_name" placeholder="Rank name...">
                  <i class="form-group__bar"></i>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="form-group">
                <label>Procedure</label>
                <ng-select
                  [items]="procedures_list"
                  bindLabel="procedure_name"
                  placeholder="Select a Procedure"
                  groupBy="category"
                  [multiple]="true"
                  (change)="procedureChanged(procedure)"
                  [(ngModel)]="procedure">
                </ng-select>
                <i class="form-group__bar"></i>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="table-responsive ">
            <table class="table table-striped table-sales">
              <thead>
                <tr>
                  <th>Procedure</th>
                  <th colspan="2">Rate</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="procedure.length==0">
                  <td colspan="3" align="center">Select a Procedure First.</td>
                </tr>
                <tr *ngFor="let data_proc of procedure">
                  <td>
                    {{ data_proc.procedure_name }}
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="number" class="form-control" min="1" (click)="$event.target.select()" [(ngModel)]="data_proc.commission_rate" (ngModelChange)="data_proc.commission_rate = $event" placeholder="0">
                      <i class="form-group__bar"></i>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <select class="form-control" [(ngModel)]="data_proc.commission_type" >
                        <option value="percentage" default>Percentage</option>
                        <option value="fixed">Fixed</option>
                      </select>
                      <i class="form-group__bar"></i>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="checkbox checkbox--inline">
              <input type="checkbox" id="customCheck4" [(ngModel)]="isActive">
              <label class="checkbox__label" for="customCheck4">Is Active</label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="saveRanks()"><i class="zmdi zmdi-save"></i> {{mode == 'add' ? 'SAVE' : 'UPDATE'}}</button>
        <button type="button" class="btn btn-danger" (click)="modalRanks.hide()"><i class="zmdi zmdi-close"></i> CANCEL</button>
      </div>
    </div>
  </div>
</div>