<div class="card todo">
  <div class="card-body">
    <h4 class="card-title">{{ widgetTitle }}</h4>
    <h6 class="card-subtitle">{{ widgetSubTitle }}</h6>
  </div>

  <div class="listview">
    <div class="row" *ngIf="partial_payment_list.length==0">
      <div  class="col-md-12 text-center">
        No record(s) found
      </div>
    </div>

    <div *ngFor="let list of partial_payment_list" class="listview__item">
      <div class="checkbox checkbox--char">
        <div class="listview__content">
          <div class="listview__heading">{{ list.customer_name }}</div>
          <p>Remaining balance: {{ list.remaining_balance }}</p>
          <p>Pick-up date : {{ list.pickup_date }}</p>
        </div>
      </div>
      <div class="actions listview__actions">
        <button class="btn btn-success w-100" style="margin-bottom:5px;" (click)="markAsDone(list)"><i class="zmdi zmdi-check"></i> Mark as Done</button>
        <br>
        <button class="btn btn-primary w-100"><i class="zmdi zmdi-eye"></i> View Details</button>
      </div>
    </div>
  </div>
</div>