@import "../../../assets/scss/scss-imports";

@mixin sidebar-toggled() {
  background-color: #dff7f7;
  transition: transform 300ms, opacity 300ms;

  &:not(.toggled) {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  &.toggled {
    box-shadow: 5px 0 10px rgba($black, 0.08);
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

:host {
  width: $sidebar-width;
  position: fixed;
  left: 0;
  padding: $header-height 2rem 0.5rem 2rem;
  height: 100%;
  overflow: hidden;
  z-index: $sidebar-z-index;
  background-color: #dff7f7;

  @include media-breakpoint-down(lg) {
    @include sidebar-toggled();
  }
}

.sidebar--hidden {
  @include sidebar-toggled();
}

// Site Navigation
.navigation {
  list-style: none;
  padding: 0;

  li {
    a {
      transition: background-color 300ms, color 300ms;
      font-weight: $font-weight-bold;
      display: block;
    }

    &:not(.navigation__active) {
      a {
        color: $navigation-link-color;

        &:hover {
          background-color: $navigation-link-hover-bg;
          color: darken($navigation-link-color, 100%);
        }
      }
    }
  }

  & > li {
    & > a {
      padding: 0.85rem 0.5rem;
      position: relative;
      border-radius: $border-radius;

      & > i {
        vertical-align: top;
        font-size: 1.3rem;
        position: relative;
        top: 0.1rem;
        width: 1.5rem;
        text-align: center;
        margin-right: 0.6rem;
      }
    }
  }
}

.navigation__sub {
  & > ul {
    border-radius: $border-radius;
    list-style: none;
    overflow: hidden;
    padding: 0;

    & > li {
      & > a {
        padding: 0.6rem 1rem 0.6rem 2.75rem;
      }

      &:last-child {
        padding-bottom: 0.8rem;
      }
    }
  }

  .navigation__active {
    position: relative;

    &:before {
      @include font-icon('\f26d', 6px);
      position: absolute;
      left: 1rem;
      top: 1.1rem;
    }
  }
}