<div class="content__inner">
  <header class="content__title">
    <h1>{{ pageTitle }}</h1>
    <small>{{ widgetSubTitle }}</small>

    <div class="actions actions">
      <a (click)="addRole()" class="actions__item zmdi zmdi-plus" tooltip="Add new"></a>
    </div>
  </header>

  
  <div class="card">
    <div class="card-body">
      <div class="table-responsive ">
        <table class="table table-striped">
          <thead class="thead-dark">
          <tr>
            <th width="110px"></th>
            <th>Size Code</th>
            <th>Size Name</th>

          </tr>
          </thead>

        </table>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" bsModal #modalRole="bs-modal" [config]="{ backdrop: 'static' }" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog  modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5>{{mode == 'add' ? 'Add Size' : 'Edit Size'}}</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <label class="col-sm-12 col-md-3 col-form-label">Code<span style="color:red">*</span></label>
          <div class="col-sm-12 col-md-9">
              <div class="form-group">
                  <input name="input_fight_no" type="text" class="form-control" [(ngModel)]="size_code" placeholder="">
                  <i class="form-group__bar"></i>
              </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-12 col-md-3 col-form-label">Name<span style="color:red">*</span></label>
          <div class="col-sm-12 col-md-9">
              <div class="form-group">
                  <input name="input_fight_no" type="text" class="form-control" [(ngModel)]="size_name" placeholder="">
                  <i class="form-group__bar"></i>
              </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="saveSize()"><i class="zmdi zmdi-save"></i> {{mode == 'add' ? 'SAVE' : 'UPDATE'}}</button>
        <button type="button" class="btn btn-danger" (click)="modalRole.hide()"><i class="zmdi zmdi-close"></i> CANCEL</button>
      </div>
    </div>
  </div>
</div>