<header class="content__title">
  <h1>{{ pageTitle }}</h1>
  <small>{{ widgetSubTitle }}</small>

</header>

<div class="card">
  <div class="toolbar toolbar--inner">
    <div class="toolbar__label">Patients List</div>

    <div class="actions">
        <i class="actions__item zmdi zmdi-search" (click)="todoSearch = true"></i>
        <a [routerLink]="" class="actions__item zmdi zmdi-refresh" (click)="getPatientList()" tooltip="Refresh list"></a>
        <a [routerLink]="" class="actions__item zmdi zmdi-plus" (click)="addPatient()" tooltip="New Patient"></a>
    </div>

    <div class="toolbar__search" *ngIf="todoSearch">
        <input type="text" placeholder="Search patient name (eg : Dela Cruz, Juan...)" [(ngModel)]="searchKey"> 
        <i class="toolbar__search__close zmdi zmdi-long-arrow-left" (click)="todoSearch = false;searchKey='';getPatientList()" tooltip="Close search box"></i>
        <i class="toolbar__search__search zmdi zmdi-search" (click)="getPatientList()" tooltip="Search"></i>

    </div>
    
  </div>
  <div class="card-body">
    <div class="table-responsive ">
      <table class="table table-striped">
        <thead>
        <tr>
          <th width="200px"></th>
          <th>Branch</th>
          <th>Fullname</th>
          <th>Birthday</th>
          <th>Address</th>
          <th>Contact No.</th>
          <th>Is Active</th>
          <th>Date Created</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of patients_list">
            <td>
              <div class="btn-demo">
                <button class="btn btn-primary" [routerLink]="['/head/patient',data.id]" ><i class="zmdi zmdi-eye"></i></button>

                <button class="btn btn-success" (click)="editPatient(data)"><i class="zmdi zmdi-edit"></i></button>
              </div>
            </td>
            <td>
              {{ data.branch_name }}
            </td>
            <td>
              {{ data.fullname }}
            </td>
            <td>
              {{ data.birthday }}
            </td>
            <td>
              {{ data.address }}
            </td>
            <td>
              {{ data.contact_no }}
            </td>
            <td>
              <i class="zmdi zmdi-check c-success" *ngIf="data.is_active"></i>
              <i class="zmdi zmdi-close c-danger" *ngIf="!data.is_active"></i>
            </td>
            <td>
              {{ data.date_created }}
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="patients_list.length!=0">
          <tr>
            <td colspan="8">
              <pagination (pageChanged)="pageChange($event)"
                class="justify-content-center"
                [totalItems]="patient_total_count"
                [maxSize]="10"
                [itemsPerPage]="rows" >
              </pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #modalPatient="bs-modal" [config]="{ backdrop: 'static' }" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5>{{mode == 'add' ? 'Add Patient' : 'Edit Patient'}}</h5>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="col-md-6">
            <div class="form-group">
              <label>Branch<span style="color:red">*</span></label>
              <ng-select
                  [items]="branches_list"
                  bindLabel="branch_name"
                  bindValue="id"
                  placeholder="Select Branch"
                  [(ngModel)]="branch">
                </ng-select>
            </div>
            <div class="form-group">
              <label>First Name <span style="color:red">*</span></label>
              <input type="text" class="form-control" placeholder="e.g: Juan" [(ngModel)]="fname">
              <i class="form-group__bar"></i>
            </div>
            <div class="form-group">
              <label>Last name<span style="color:red">*</span></label>
              <input type="text" class="form-control" placeholder="e.g: Dela Cruz" [(ngModel)]="lname">
              <i class="form-group__bar"></i>
            </div>
            <div class="form-group">
              <label>Middle name</label>
              <input type="text" class="form-control" placeholder="e.g: Santos" [(ngModel)]="mname">
              <i class="form-group__bar"></i>
            </div>
            <div class="form-group">
              <label>Address<span style="color:red">*</span></label>
              <textarea class="form-control" placeholder="e.g: davidsmith@gmail.com" [(ngModel)]="address"></textarea>
              <i class="form-group__bar"></i>
            </div>
            <div class="form-group">
              <label>Birthday<span style="color:red">*</span></label>
              <input type="text" placeholder="Pick a date" class="form-control" bsDatepicker [bsConfig]="bsConfig" [(ngModel)]="bday">
              <i class="form-group__bar"></i>
            </div>
            <div class="form-group">
              <label>Religion</label>
              <input type="text" class="form-control" placeholder="e.g: davidsmith@gmail.com" [(ngModel)]="religion">
              <i class="form-group__bar"></i>
            </div>
            <div class="form-group">
              <label>Nationality</label>
              <input type="text" class="form-control" placeholder="e.g: davidsmith@gmail.com" [(ngModel)]="nationality">
              <i class="form-group__bar"></i>
            </div>
            
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label>Occupation</label>
              <input type="text" class="form-control" placeholder="e.g: David Smith" [(ngModel)]="occupation">
              <i class="form-group__bar"></i>
            </div>
            <div class="form-group">
              <label>Office No.</label>
              <input type="text" class="form-control" placeholder="e.g: David Smith" [(ngModel)]="office_no">
              <i class="form-group__bar"></i>
            </div>
            <div class="form-group">
              <label>Gender</label>
              <select class="form-control" [(ngModel)]="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
              <i class="form-group__bar"></i>
            </div>
            <div class="form-group">
              <label>Nickname</label>
              <input type="text" class="form-control" placeholder="e.g: David Smith" [(ngModel)]="nickname">
              <i class="form-group__bar"></i>
            </div>
            <div class="form-group">
              <label>Mobile/Home No.</label>
              <input type="text" class="form-control" placeholder="e.g: ######" [(ngModel)]="contact_no">
              <i class="form-group__bar"></i>
            </div>

            <h4 class="card-title">For Minors</h4>
            
            <div class="form-group">
              <label>Parents/Guardian Name</label>
              <input type="text" class="form-control" placeholder="e.g: Juan Dela Cruz" [(ngModel)]="guardian_name">
              <i class="form-group__bar"></i>
            </div>

            <div class="form-group">
              <label>Occupation</label>
              <input type="text" class="form-control" placeholder="e.g: Dentist" [(ngModel)]="guardian_occupation">
              <i class="form-group__bar"></i>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="checkbox checkbox--inline">
              <input type="checkbox" id="customCheck4" [(ngModel)]="isActive">
              <label class="checkbox__label" for="customCheck4">Is Active</label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="savePatient()"><i class="zmdi zmdi-save"></i> {{mode == 'add' ? 'SAVE' : 'UPDATE'}}</button>
        <button type="button" class="btn btn-danger" (click)="modalPatient.hide()"><i class="zmdi zmdi-close"></i> CANCEL</button>
      </div>
    </div>
  </div>
</div>