<header class="content__title">
  <h1>{{ pageTitle }}</h1>
  <small>{{ pageSubTitle }}</small>

</header>
<widget-quick-stats></widget-quick-stats>

<div class="row">
    <div class="col-lg-12">
        <app-branch-pie></app-branch-pie>
    </div>
</div>

