@import "../../../assets/scss/scss-imports";

.modal-content {
  box-shadow: $modal-content-box-shadow-sm-up;
}

.modal-title {
  font-size: 1.2rem;
  font-weight: normal;
}

.modal-footer {
  padding-top: 0.8rem;

  & > .btn-link {
    color: $headings-color;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    border-radius: $border-radius;

    &:hover,
    &:focus {
      background-color: $gray-100;
    }
  }
}

.modal-header {
  & > h5 {
    line-height: 100%;
    font-size: 1.3rem;
    font-weight: normal;
    color:$headings-color;
  }
}

.full_modal-dialog {
  width: 98% !important;
  height: 92% !important;
  min-width: 98% !important;
  min-height: 92% !important;
  max-width: 98% !important;
  max-height: 92% !important;
  padding: 0 !important;
}

.full_modal-content {
  height: 99% !important;
  min-height: 99% !important;
  max-height: 99% !important;
}