<main class="main" [attr.data-ma-theme]="service.maTheme">
  <app-header></app-header>
  <app-sidebar-user [class.toggled]="service.mobileSidebarActive"></app-sidebar-user>

  <section class="content">
      <router-outlet></router-outlet>
      <app-footer></app-footer>
      <div *ngIf="service.mobileSidebarActive" (click)="service.mobileSidebarActive = false" class="sidebar-backdrop"></div>
  </section>

</main>