<header class="content__title">
  <h1>{{ pageTitle }}</h1>
  <small>{{ widgetSubTitle }}</small>
</header>

<div class="card">
  <div class="toolbar toolbar--inner">
    <div class="toolbar__label">Expenses List</div>

    <div class="actions">
        <i class="actions__item zmdi zmdi-search" (click)="todoSearch = true"></i>
        <a [routerLink]="" class="actions__item zmdi zmdi-refresh" (click)="get()" tooltip="Refresh list"></a>
        <a [routerLink]="" class="actions__item zmdi zmdi-plus" (click)="addExpense()" tooltip="Add new expense"></a>
    </div>

    <div class="toolbar__search" *ngIf="todoSearch">
        <input type="text" placeholder="Search..." [(ngModel)]="searchKey"> 
        <i class="toolbar__search__close zmdi zmdi-long-arrow-left" (click)="todoSearch = false;searchKey='';get()" tooltip="Close search box"></i>
        <i class="toolbar__search__search zmdi zmdi-search" (click)="get()" tooltip="Search"></i>

    </div>
    
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Branch</th>
          <th>Category</th>
          <th>Label</th>
          <th>Amount</th>
          <th>Covered Date</th>
          <th>Date Created</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngIf="expenses_list.length==0">
            <td colspan="6" align="center">No record(s) found</td>
          </tr>
          <tr *ngFor="let data of expenses_list" class="hover-edit" (click)="onEdit(data)">
            <td>{{ data.branch_name }}</td>
            <td>{{ data.expense_category_name }}</td>
            <td>{{ data.expense_name }}</td>
            <td>{{ data.amount }}</td>
            <td>{{ data.covered_date }}</td>
            <td>{{ data.date_created }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6">
              <pagination (pageChanged)="pageChange($event)"
                class="justify-content-center"
                [totalItems]="total"
                [maxSize]="10"
                [itemsPerPage]="rows" >
              </pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>


<div class="modal fade" bsModal #modalExpenses="bs-modal" [config]="{ backdrop: 'static' }" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5>{{mode == 'add' ? 'Expenses' : 'Edit Expense'}}</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <label class="col-sm-12 col-md-3 col-form-label">Branch<span style="color:red">*</span></label>
          <div class="col-sm-12 col-md-9">
            <div class="form-group">
              <ng-select
                  [items]="branches_list"
                  bindLabel="branch_name"
                  bindValue="id"
                  placeholder="Select Branch"
                  [(ngModel)]="branch"
                  [disabled]="true">
                </ng-select>
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-12 col-md-3 col-form-label">Label</label>
          <div class="col-sm-12 col-md-9">
              <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="label" placeholder="Enter label...">
                  <i class="form-group__bar"></i>
              </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-12 col-md-3 col-form-label">Amount<span style="color:red">*</span></label>
          <div class="col-sm-12 col-md-9">
              <div class="form-group">
                  <input type="number" class="form-control" [(ngModel)]="amount" placeholder="">
                  <i class="form-group__bar"></i>
              </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-12 col-md-3 col-form-label">Category<span style="color:red">*</span></label>
          <div class="col-sm-12 col-md-9">
            <div class="form-group">
              <ng-select
                [items]="category_list"
                bindLabel="expense_category_name"
                bindValue="id"
                placeholder="Select a Category"
                [(ngModel)]="category" [disabled]="true">
              </ng-select>
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-12 col-md-3 col-form-label">Covered Date<span style="color:red">*</span></label>
          <div class="col-sm-12 col-md-9">
            <div class="form-group">
              <input type="date" placeholder="Pick a date" class="form-control" [(ngModel)]="date">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-3"></div>
          <div class="col-sm-12 col-md-9">
            <div class="checkbox checkbox--inline">
              <input type="checkbox" id="customCheck4" [(ngModel)]="is_company_expense">
              <label class="checkbox__label" for="customCheck4">Is company expense</label>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="saveExpense()"><i class="zmdi zmdi-save"></i> {{mode == 'add' ? 'SAVE' : 'UPDATE'}}</button>
        <button type="button" class="btn btn-danger" (click)="modalExpenses.hide()"><i class="zmdi zmdi-close"></i> CANCEL</button>
      </div>
    </div>
  </div>
</div>