  <div class="card-header">
    <h5 class="card-title">{{data.item_name}}</h5>

    <a [href]="data.attachment" target="_blank" *ngIf="data.attachment!=''">
      <img [src]="data.attachment" style="height:100px;width: 100px;" *ngIf="data.attachment!=''">
    </a>
  </div>

  <div class="card-body">
    <strong>{{data.category_name}}</strong> <br>
    <p class="card-text">{{data.item_description}}</p>
    <small [ngClass]=" data.qty == 0 ? 'tr-critical' : data.qty <= data.critical_point ? 'tr-warning' : ''">Quantity : {{ data.qty }}</small><br>
    <small>{{ data.branch_name }}</small>
  </div>
  <div class="card-footer">
    <div class="btn-demo">
      <button type="button" class="btn btn-danger w-100" *ngIf="branch == data.branch_id && data.qty !==0 " (click)="stockAdjustmentForm(data)"><i class="zmdi zmdi-minus"></i> Adjustment</button>
      <button type="button" class="btn btn-primary w-100" [routerLink]="['product-details',data.id]"><i class="zmdi zmdi-eye"></i> Details</button>

    </div>
  </div>
