<header class="content__title">
  <h1>{{ pageTitle }}</h1>
  <small>{{ widgetSubTitle }}</small>
</header>

<div class="card" *ngFor="let data of profitAndLoss">
  <div class="card-header">
    <h4 class="card-title">{{data.branch_name}}</h4>
  </div>
  <div class="card-body">
      <div >
        <div class="table-responsive " style="overflow-y: scroll;min-width: 1000px">
          <table class="table table-striped">
            <thead>
              <tr>
                <th [attr.colspan]="expense_categories.length+3" style="vertical-align : middle;text-align:center ;background-color: rgb(105, 248, 248);">Income</th>
                <th [attr.colspan]="mode_of_payments.length+4" style="vertical-align : middle;text-align:center ;background-color: rgb(196, 192, 192);">Tally Sheet</th>

              </tr>
              <tr>
                <th rowspan="2" style="vertical-align : middle;text-align:center ;">Months</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;">Gross Sales</th>
                <th [attr.colspan]="expense_categories.length" style="vertical-align : middle;text-align:center;background-color: orange;min-width: 120px;" >Expenses</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;min-width: 170px">Net Worth</th>
                <th [attr.colspan]="mode_of_payments.length" style="vertical-align : middle;text-align:center;background-color: rgb(4, 205, 212);min-width: 120px;" >Mode of Payments</th>

                <th rowspan="2" style="vertical-align : middle;text-align:center;min-width: 150px;">Expected Gross Sales</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;min-width: 150px;">Total Cash Received</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;min-width: 150px;">Pending Payments</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;min-width: 150px;background-color: rgb(255, 140, 140);">Total Expenses</th>

              </tr>
              <tr>
                <th *ngFor="let expense of expense_categories" style="border: 1px solid #ddd; vertical-align : middle;text-align:center;background-color: rgb(253, 208, 125);">{{expense.expense_category_name}}</th>
                <th *ngFor="let mode_of_payment of mode_of_payments" style="vertical-align : middle;text-align:center;background-color: rgb(159, 240, 243);min-width: 100px;">{{ mode_of_payment.mop }}</th>

              </tr>
            </thead>
            <tr *ngFor="let sub of data.data">
              <td style="max-width: 130px;width: 130px;"><b>{{ sub.month_name }}</b></td>
              <td style="max-width: 130px;width: 130px;">{{ sub.total_sales | currency: 'PHP' : 'symbol-narrow' : '1.2-2'}}</td>
              <td *ngFor="let expense of sub.expenses" style="border: 1px solid #ddd; max-width: 130px;width: 130px;">{{expense.amount | currency: 'PHP' : 'symbol-narrow' : '1.2-2'}}</td>
              <td style="max-width: 130px;width: 130px;border-right: 1px solid #ddd;">
                <span *ngIf="sub.net_worth >0" style="color:green">{{ sub.net_worth | currency: 'PHP' : 'symbol-narrow' : '1.2-2'}}</span>
                <span *ngIf="sub.net_worth <=0" style="color:red">{{ sub.net_worth | currency: 'PHP' : 'symbol-narrow' : '1.2-2'}}</span>

              </td>
              <td *ngFor="let mop of sub.mop" style="border: 1px solid #fff; max-width: 130px;width: 130px;">{{mop.amount | currency: 'PHP' : 'symbol-narrow' : '1.2-2'}}</td>
              <td style="max-width: 130px;width: 130px;">{{ sub.total_sales | currency: 'PHP' : 'symbol-narrow' : '1.2-2'}}</td>
              <td style="max-width: 130px;width: 130px;">
                <span style="color:green">
                  {{ sub.total_cash_received | currency: 'PHP' : 'symbol-narrow' : '1.2-2'}}
                </span>
              </td>
              <td style="max-width: 130px;width: 130px;">
                <span style="color:red">
                  {{ sub.total_sales - sub.total_cash_received | currency: 'PHP' : 'symbol-narrow' : '1.2-2'}}
                </span>
              </td>
              <td style="max-width: 130px;width: 130px;">
                {{ sub.total_expense | currency: 'PHP' : 'symbol-narrow' : '1.2-2'}}
              </td>

            </tr>
          </table>
        </div>
      </div>

    </div>
</div>
